<h4>InterviewMethods:</h4>
<% unless @interview_methods.empty? %>
 <table id='interview_methods'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'interview_method', :collection => @interview_methods %>
 </tbody></table><!-- id='interview_methods' -->
<% else %>
 <p>Sorry, no interview_methods yet.</p>
<% end %>
<p><%= link_to( "Create new interview_method", new_interview_method_path,
	:class => 'button' ) %></p>
