<p>
  <b>Key:</b>
  <%=h @interview_method.key %>
</p>

<p>
  <b>Description:</b>
  <%=h @interview_method.description %>
</p>

<%= link_to( 'Edit', edit_interview_method_path(@interview_method), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', interview_methods_path, :class => 'button' ) %>
