<%= form_for(@addressing,
	:url => addressing_path(@addressing),
	:html => { :class => 'confirm edit_addressing' }) do |f| %>
<%= render 'form', :f => f %>
<% end %>

<% if current_user.may_destroy_addressings? %>
<div class='dev_only'><span>Development only:</span>
<%#= (@addressing.new_record?)? "&nbsp" : destroy_link_to( "Destroy", addressing_path(@addressing) ) %>
<%= (@addressing.new_record?)? "&nbsp".html_safe : button_to( "Destroy", addressing_path(@addressing), :method => 'delete', :form_class => 'destroy_link_to' ) %>
</div>
<% end %>
