<h4>SampleTypes:</h4>
<% unless @sample_types.empty? %>
 <table id='sample_types'><thead><tr>
  <th>ID</th>
  <th>Parent ID</th>
  <th>Key</th>
  <th>Description</th>
  <th>For New Sample?</th>
  <th>GEGL Type</th>
  <th>Samples</th>
 </tr></thead><tbody>
  <%= render :partial => 'sample_type', :collection => @sample_types %>
 </tbody></table><!-- id='sample_types' -->
<% else %>
 <p>Sorry, no sample_types yet.</p>
<% end %>
<p><%= link_to( "Create new sample_type", new_sample_type_path,
	:class => 'button' ) %></p>
