<%= control_bar() %>

Sample Find form

<p>Results must match [select(any,all)] of the following:    [find]</p>
<p>sample id: [ ]</p>
<p>sample type: [select from types]</p>
<p>sample subtype: [select for subtypes of given type (will require ajax)]</p>
<p>first name: [ ]</p>
<p>last name: [ ]</p>
<p>childid: [ ]</p>
<p>icf master id: [ ]</p>
<p>pat id: [ ]</p>
<p>kit sent on: [ ]</p>
<p>sample received on: [ ]</p>
