<%= dashboard_control_bar() %>

Sample follow ups

<p>Sample being processed  [go]</p>
<p>table(icf master id, study id, sample id, date received at ccls)</p>

<p>samples ready for lab  [go]</p>
<p>table(icf_master_id, study_id, sample_id, sample_subtype, received on)</p>

<p>Request resample of these samples:</p>
<p>table(icf_master_id, study_id,sample_id,sample_subtype)</p>

<p>The following samples should be destroyed:</p>
<p>table(icf_master_id,study_id,sample_id,location,sample_subtype)</p>
