<%= control_bar() %>

Sample reports


<p><%= link_to "Sample Manifest Data", manifest_samples_path(:format => :csv ) %></p>


<p>sample kits sent = sample not yet received</p>
<p>phase 4/5 subjects missing samples</p>
<p>bad samples received</p>
<p>samples collected and specified in consent as "no future use"</p>
<p>samples collected for subjects who have revoked consent</p>




example search results:
<p>search results:</p>
<p>table(icf_master_id,study_id,sampleid,sample subtype,received_date)</p>

