<% birth_certificates_sub_menu %>

<h4>Birth Certificate List Validation</h4>

<p>Select a case study_subject from the list to display their candidate controls.</p>

<% @cases.each do |case_study_subject| %>
<p><%= link_to "#{case_study_subject.studyid_to_s}: #{case_study_subject.full_name}",
	bc_validation_path(case_study_subject.id) %></p>
<% end %>

<%= will_paginate @cases %>
