<% birth_certificates_sub_menu %>
<% id_bar_for(@subject) %>


<h4>Birth Certificate List Validation</h4>

<p>subject info</p>
<p>case subject: fullname sex:male mom's race: white dad's hispanicity: no [cancel][save]</p>
<p>    dob:5/515/2001  mom's hispanicity: no</p>
<p>    born in cali? yes  mom's maiden: smith</p>

<p>candidate controls</p>
