<h4>SubjectTypes:</h4>
<% unless @subject_types.empty? %>
 <table id='subject_types'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'subject_type', :collection => @subject_types %>
 </tbody></table><!-- id='subject_types' -->
<% else %>
 <p>Sorry, no subject_types yet.</p>
<% end %>
<p><%= link_to( "Create new subject_type", new_subject_type_path,
	:class => 'button' ) %></p>
