<h4>IneligibleReasons:</h4>
<% unless @ineligible_reasons.to_a.empty? %>
 <table id='ineligible_reasons'><tbody>
  <%= render :partial => 'ineligible_reason', :collection => @ineligible_reasons %>
 </tbody></table>
<% else %>
 <p>Sorry, no ineligible_reasons yet.</p>
<% end %>
<p><%= link_to( 'Create new ineligible_reason', new_ineligible_reason_path,
	:class => 'button' ) %></p>
