<h4>People:</h4>
<% unless @people.to_a.empty? %>
 <table id='people'>
<thead><tr>
<th>Honorific</th>
<th>First Name</th>
<th>Last Name</th>
<th>person type id</th>
<th>&nbsp;</th>
</tr></thead>
<tbody>
  <%= render :partial => 'person', :collection => @people %>
 </tbody></table>
<% else %>
 <p>Sorry, no people yet.</p>
<% end %>
<p><%= link_to( 'Create new person', new_person_path, :class => 'button' ) %></p>
