<h4>People:</h4>
<% unless @people.to_a.empty? %>
 <table id='people'><tbody>
  <%= render :partial => 'person', :collection => @people %>
 </tbody></table>
<% else %>
 <p>Sorry, no people yet.</p>
<% end %>
<p><%= link_to( 'Create new person', new_person_path, :class => 'button' ) %></p>
