<h4>Screening Datum Updates</h4>

<% if @screening_datum_updates.length > 0 %>
<table id='screening_datum_updates'>
<thead><tr><th>file name</th><th>&nbsp;</th></tr></thead>
<tbody>
<% @screening_datum_updates.each do |screening_datum_update| %>
  <tr class='row'>
    <td><%= screening_datum_update.csv_file_file_name || nbsp %></td>
    <td class='manage'>
<%= link_to( 'Show', screening_datum_update, :class => 'button' ) %>
<%= button_to( 'Destroy', screening_datum_update, :method => 'delete', :form_class => 'destroy_link_to' ) %></td>
  </tr>
<% end %>
</tbody></table>
<% else %>
<p>Sorry, no screening data updates yet.</p>
<% end %>

<br />

<%= link_to( 'New screening_datum_update', new_screening_datum_update_path, :class => 'button' ) %>
