<%= dashboard_control_bar() %>

Interview find form

<p>Results must match [select(any,all)] of the following:       [find]</p>

<p>first name: [  ]</p>
<p>last name: [ ]</p>
<p>interview date: [ ]</p>
<p>outcome: [select from possible outcomes]</p>
<p>childid: [ ]</p>
<p>icf master id: [ ]</p>
<p>patid: [ ]</p>
<p>study/project: [select from possible studies]</p>
<p>instrument: [select from possible instruments]</p>

