<%= control_bar() %>

Interview reports<br/>


<p>subjects not sent to ICF (30+ days following consent)</p>

<p>subjects sent to ICF (90+ days with no pre-screen data)</p>

<p>subjects sent to ICF (180+ days with no interview data) </p>


<p>example search results...</p>
<p>search results:</p>
<p>table(icf_master_id,study_id,childid,subject_name,interview_date,outcome)</p>
