<!--
<div class='when'>
<span class='from'><%#=mdy address.valid_from %></span>
<%# if address.valid_from && address.valid_to %>
&nbsp;-&nbsp;
<%# end %>
<span class='to'><%#=mdy address.valid_to %></span>
</div>
-->
