<h3>Addresses</h3>
<div class='addressings'>
<%#
	This probably should just be the current address ?
%>
<%= render :partial => 'study_subject/contacts/addressing', 
	:collection => @study_subject.addressings.current,
	:locals => { :details => true,
		:edit => current_user.may_update_addressings? } %>
<% if current_user.may_update_addressings? %>
<p id='new_address' class='new'>
<%= link_to 'add new address', new_study_subject_addressing_path(@study_subject) %>
<% if @study_subject.addressings.historic.length > 0 %>
&nbsp;|&nbsp;
<%= link_to 'toggle history', study_subject_contacts_path(@study_subject), 
	:class => 'toggler toggles_historic_addressings' %>
<% end %>
</p>
<% end %>

<div id='historic_addressings' class='historic' style='display:none'>
<%= render :partial => 'study_subject/contacts/addressing', 
	:collection => @study_subject.addressings.historic,
	:locals => { :dates => true,
		:edit => current_user.may_administrate? } %>
</div><!-- class='historic' -->
</div><!-- class='addressings' -->
