<h3>Phone Numbers</h3>
<div class='phone_numbers'>
<%= render :partial => 'study_subject/contacts/phone_number', 
	:collection => @study_subject.phone_numbers.current,
	:locals => { :details => true,
		:edit => current_user.may_update_phone_numbers? } %>
</div><!-- class='phone_numbers' -->

<div id='historic_phone_numbers' class='historic phone_numbers' style='display:none'>
<%= render :partial => 'study_subject/contacts/phone_number', 
	:collection => @study_subject.phone_numbers.historic,
	:locals => { :details => true,
		:edit => current_user.may_administrate? } %>
</div><!-- class='historic' -->

<% if current_user.may_update_phone_numbers? %>
<p id='new_phone_number' class='new'>
<%= link_to 'add new phone number', new_study_subject_phone_number_path(@study_subject) %>
<% if @study_subject.phone_numbers.historic.length > 0 %>
&nbsp;|&nbsp;
<%= link_to 'toggle history', study_subject_contacts_path(@study_subject), 
	:class => 'toggler toggles_historic_phone_numbers' %>
<% end %>
</p>
<% end %>
