<div id='contacts'>
<%= render :partial => 'study_subject/contacts/addresses' %>
<%= render :partial => 'study_subject/contacts/phone_numbers' %>
<%= render :partial => 'study_subject/contacts/alternate_contacts' %>
</div><!-- id='contacts' -->
