<div id='birth_records'>
<h3>Birth Record(s)</h3>

<%# unless @study_subject.birth_data.all.empty? ... seems I needed to add the ".all" here ???%>
<%# unless @study_subject.birth_data.to_a.empty? %>
<% unless @study_subject.birth_datum.nil? %>
<h4>Study Subject has a birth record<%#=pluralize(@study_subject.birth_data.length, 'birth record')%> on file.</h4>

<% attrs = BirthDatum.attribute_names %>
<% attrs-=['id','birth_datum_update_id','study_subject_id'] %>
<%# birth_data =  @study_subject.birth_data.order('id desc') %>
<table class='birth_records'><tbody>
<% attrs.sort.each do |attr| %>
<tr>
<td><%=attr %></td>
<%# birth_data.each do |birth_datum| %>
<td><%= @study_subject.birth_datum.send(attr) || nbsp %></td>
<%# end %>
</tr>
<% end %>
</tbody></table>


<%# attrs = @study_subject.birth_data.order('id asc').last.attributes %>
<%# attrs.delete('id') %>
<%# attrs.delete('study_subject_id') %>
<%# attrs.sort.each do |k,v| %>
<!--
<p><%#= "#{k}:#{v}" %></p>
-->
<%# end %>



<% else %>
<h4>Study Subject does not have a birth record on file.</h4>
<% end %>
</div><!-- id='birth_record' -->
