<div class="facet_toggle">
	<span class="ui-icon ui-icon-triangle-1-e">&nbsp;</span>
	<a href="javascript:void(0)">Column Selection</a>
</div>
<div id='columns' class='facet_field'>
	<p>Used Columns</p>
	<ul id="selected_columns" class="selectable_columns">
		<% columns.each do |column| %>
			<%# NEED to find a way to use the id, but already using id matching these 
					column names in the facet selectors %>
			<%= content_tag(:li, column )%>
		<% end %>
	</ul>
	<p>Unused Columns</p>
	<ul id="unselected_columns" class="selectable_columns">
		<% (@sunspot_search_class.sunspot_available_column_names - columns).each do |column| %>
			<%# NEED to find a way to use the id, but already using id matching these 
					column names in the facet selectors %>
			<%= content_tag(:li, column )%>
		<% end %>
	</ul>
</div>
