<p>
  <b>Key:</b>
  <%=h @diagnosis.key %>
</p>

<p>
  <b>Description:</b>
  <%=h @diagnosis.description %>
</p>

<%= link_to( 'Edit', edit_diagnosis_path(@diagnosis), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', diagnoses_path, :class => 'button' ) %>
