<h3>Interview and Survey Inventory</h3>
<p>table(instrument, project, began on, ended on, status)</p>

<p><%= link_to 'add an interview (TODO)', 
	study_subject_interviews_path(@study_subject),
	:class => 'button' %></p>
