<% stylesheets(:live_birth_data_update) %>
<h4>Parsing live_birth_data_update</h4>

<% if @results.length > 0 %>
<table><tbody>
<%= render :partial => 'result', :collection => @results %>
</tbody></table>
<% end %>
