<h3>Review Possible Duplicate Subjects</h3>
<div id='possible_duplicates' class='raf_section'>

<p>The following existing subject(s) may be matches for the new case.  If so, please select the correct subject and press "match found."  Otherwise, press "no match."</p>

<table><thead>
<tr><th>&nbsp;</th><th>&nbsp;</th><th>treating institution</th><th>admit date (temp)</th>
<th>hospital number</th>
<th>birth date</th><th>sex</th><th>study ID</th><th>child ID</th></tr>
</thead><tbody>
<%= render :partial => 'raf/duplicate', :collection => @duplicates,
	:locals => { :f => f } %>

</tbody></table>
<p class='submit_bar'>
<%# Default id for submit button is study_subject_submit and having 2 will make the html invalid so must explicitly specify ids here.  Be aware that there is also another submit button on waivered/nonwaivered new forms, but I'll leave that as default id. %>
<%= f.submit 'Match Found', :id => 'study_subject_submit_match_found' %>
<%= f.submit 'No Match',    :id => 'study_subject_submit_no_match' %>
</p>

</div><!-- id='possible_duplicates' -->
