<h4>SampleFormats:</h4>
<% unless @sample_formats.empty? %>
 <table id='sample_formats'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'sample_format', :collection => @sample_formats %>
 </tbody></table><!-- id='sample_formats' -->
<% else %>
 <p>Sorry, no sample_formats yet.</p>
<% end %>
<p><%= link_to( "Create new sample_format", new_sample_format_path,
	:class => 'button' ) %></p>
