<h4>Races:</h4>
<% unless @races.empty? %>
 <table id='races'>
<tr><th>Code</th><th>Key</th><th>Description</th><th>&nbsp;</th></tr>
<tbody>
  <%= render :partial => 'race', :collection => @races %>
 </tbody></table>
<% else %>
 <p>Sorry, no races yet.</p>
<% end %>
<p><%= link_to( 'Create new race', new_race_path, :class => 'button' ) %></p>
