<div class='consent raf_section'>

<% @study_subject.enrollments.build if @study_subject.enrollments.empty? %>
<% f.fields_for :enrollments do |enrollment_fields| %>

<p>consent date:
<%= enrollment_fields.date_text_field :consented_on  %>
&nbsp;(from consent signature page, if available at RAF entry)
</p><p>consent version:
<%= enrollment_fields.collection_select :document_version_id,
	 DocumentVersion.all, :id, :to_s, :include_blank => true  %>
</p>

<% end %>

</div><!-- class='consent' -->
