<div class='samples raf_section'>

<p>Are there blood and bone marrow samples available for shipment to CCLS?</p>
<p>Yes --&gt; See Speciment Transmittal Form</p>
<p>No</p>

</div><!-- class='samples raf_section' -->
