<% stylesheets('base/jquery.ui.all.css') %><%# for datepicker %>
<h3>New Non-Waivered</h3>

<% form_for(@subject, :url => nonwaivered_path,
	:html => { :class => 'edit_subject' }) do |f| %>
<%#= render 'form', :f => f %>

<%= f.error_messages %>

<%= render :partial => 'subjects/prelim_form', :locals => {:f=>f} %>

<p><%= f.submit_link_to 'Create new non-waivered case subject' %></p>
<% end %>
