form.edit_sample .field_wrapper label {
	width: 150px;
}
.edit_sample .field_wrapper.tracking_number label {
	width: 250px;
}

form.edit_sample .location_id.field_wrapper {
	float:left;
	clear:none;
	padding-left: 10px;
}
form.edit_sample .location_id.field_wrapper label {
	width:70px;
}
