.dev_only {
	margin-top: 30px;
	clear:left;
}
.dev_only span {
	float:left;
}


form.edit_phone_number .why_invalid,
form.edit_phone_number .how_verified {
	margin-left: 150px;
}
form.edit_phone_number .why_invalid label,
form.edit_phone_number .how_verified label{
	width: 50px;
}

