#addressing_address_attributes_line_1,
#addressing_address_attributes_line_2 {
	width: 300px;
}
#addressing_address_attributes_city {
	width: 190px;
}
#addressing_data_source_other,
#addressing_address_attributes_unit,
#addressing_address_attributes_zip {
	width: 100px;
}
.dev_only {
	margin-top: 30px;
}
.dev_only span {
	float:left;
}
.field_wrapper label {
	width:150px;
}
div.line_1 {
	margin-right: 20px;
}
div.line_1,
div.unit {
	display:inline-block;
}
div.unit label {
	width:30px;
}
div.dates_valid > div,
div.dates_valid > span {
	display:inline-block;
	vertical-align:top;
}
div.dates_valid > span {
	margin-right: 29px;
}
div.dates_valid > p {
	margin-top: 0px;
	margin-left: 200px;
}
div.dates_valid label {
	width: auto;
}
div.dates_valid .field_wrapper {
	margin-bottom: 0px;
}
div.moved > div,
div.source > div,
div.valid > div,
div.verified > div {
	display:inline-block;
	vertical-align:top;
}
div.data_source_id,
div.is_valid,
div.is_verified {
	margin-right: 10px;
}
div.unit,
div.data_source_other,
div.why_invalid,
div.how_verified {
	clear:none;
}
.data_source_other label,
.why_invalid label,
.how_verified label{
	width: auto;
	padding-right: 10px;
}
