/*

	#minimenu - the top-right pages menu

	#mainmenu - the menu in the lower-left of the header containing ...
		.menu_item - link or hover-triggered menu containing ...
			.sub_menu - 

	#sidemenu - the left menu to the side of the content

*/

/*
	Top Right Menu (Home|Reports|FAQs[|Logout])
*/
div#minimenu {
	float:right;
	padding: 5px 10px;
	color: white;
}
div#minimenu a {
	color: white;
	text-decoration:none;
}

/*

	FYI:  submenu will be very different than the homex submenu

	For clarity, I will be renaming the #submenu to #sidemenu
		which is a much more appropriate name

*/

#mainmenu .menu_item,
#mainmenu .menu_item a,
#sidemenu a {
	text-decoration: none;
	color:black;
}
div#mainmenu { 
	/* NEEDED so that mainmenu can be at bottom */
	position:absolute;
	bottom:0;
}
div#mainmenu .menu_item {
	position:relative;
	margin:0;
	float:left;
	padding: 4px 24px;
	font-size: 12pt;
	font-weight: bold;
	border: 2px solid black;
	border-bottom: 1px solid black;
	border-left: 0;
	background-color: #A9BECC;
}
div#mainmenu .menu_item:nth-child(1) {
	border-left: 2px solid black;
}
div#mainmenu > .current {
	background-color: #CCC3A9;
}

div#mainmenu .menu_item .sub_menu {
/*
	As a hover menu, this is absolute and a bit tricky to
		keep lined up in both Firefox and IE.
	I think that it is caused by differing font sizes.
	This seems to work, but isn't perfect.
*/
	margin:0;
	padding:0;
	position:absolute;
	top: 25px;
	left:0px;
	clear:left;
	z-index: 100;	/* needed to keep it above other stuff */
	background-color: white;
	border: 1px solid gray;
	border-top: 0;
	display:none;

	/* box-shadow: <horizontal> <vertical> <blur> <color> */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
div#mainmenu .menu_item .sub_menu > * {
	font-weight: normal;
	padding: 5px;
	display:block;
	white-space:pre;
}
div#mainmenu .menu_item:hover > .sub_menu { display:block; }

div#left_side_menu {
	width: 160px;
}
div#sidemenu {
	font-size: 12px;
	padding-top: 5px;
	margin: 0;
	background-color: #CCC3A9;
	border: 1px solid black;
	border-top: none;
}
div#sidemenu > * {
	padding: 5px 10px;
	display:block;
}
div#sidemenu > .current {
	font-weight:bold;
}
