.field_wrapper label {
	width: 170px;
}
.admit_date_wrapper .warning {
	display:none;
	width:250px;
	float:right;
	padding: 5px;
	padding-right:0;
}
.admit_date_wrapper.changed .admit_date {
	display:inline;
}
.admit_date_wrapper.changed .warning {
	display:inline;
	background-color: #FDD;
	border: 1px solid #F88;
}
.diagnosis_id,
.other_diagnosis {
	display:inline-block;
	vertical-align:top;
}
.diagnosis_id {
	margin-right: 10px;
}
.other_diagnosis label {
	width:auto;
}
