
h3 > span {
	float:right;
	font-size:10pt;
	font-weight:normal;
}

form.raf {
	border: 2px solid black;
	border-top-width: 1px;
}
form.raf h3 {
	background-color: gray;
	color:white;
	padding: 7px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 0;
}
form.raf .raf_section {
	clear:left;
	margin:5px;
}
form.raf #errorExplanation {
	margin:5px;
}

form.raf .names input {
	width: 100px;
}
form.raf .names .tablerow {
	margin-left: 20px;
}
form.raf .names .tablerow > span {
	width: 120px;
	display:inline-block;
	text-align:center;
}
form.raf .names .tablerow p.guardian {
	display:inline-block;
	margin-left: -20px;
	width: 390px;
}
/* needs to be wider to fit the subject relationship selector */
form.raf .names .tablerow span.big {
	width: 210px;
}
form.raf .organization_id p,
form.raf .admitting_oncologist p,
form.raf .hospital_no p,
form.raf .names p {
	margin-bottom: 0;
}

form.raf div.table > div {
	display:table-row;
}
form.raf div.table > div.tablerow > div {
	display:table-cell;
	vertical-align:top;
}
form.raf .raf_zip ,
form.raf .diagnosis_id ,
form.raf .admitting_oncologist ,
form.raf .dob ,
form.raf .hospital_no {
	margin-right:10px;
	float:right;
	clear:none;
}


form.raf #study_subject_patient_attributes_raf_zip,
form.raf #study_subject_patient_attributes_raf_county {
	width: 170px;
}

/* hide initially */
form.raf div.other_diagnosis {
	display:none;
	float:right;
	margin-right:10px;
}
form.raf div.other_diagnosis label {
	float:none;
}
