form.new_sample #subject_control_bar {
	border: 1px solid black;
	border-width: 1px 0px; /* only the top and bottom */
	padding: 0px 20px;
	margin-bottom: 20px;
}
form.new_sample #subject_control_bar > * {
	vertical-align: top;
}
form.new_sample #subject_control_bar > div > p {
	margin-top: 0; /* remove the double top margin which messes up alignment */
}
form.new_sample .field_wrapper label {
	width: 100px;
}
