#id_bar {
	border: 1px solid black;
	background-color: #E5DBC1;
	padding: 10px;
//	position:relative;
}
#id_bar > div {
	display:inline-block;
}
#id_bar div.id_numbers > div {
	display:inline-block;
}
#id_bar .icf_master_id {
	display:inline;
	padding-right: 10px;
}
/*
#id_bar .childid {
	display:inline;
	padding-right: 10px;
}
#id_bar .studyid {
	display:inline;
	padding-right: 10px;
}
#id_bar .full_name {
	display:inline;
	padding-right: 10px;
	font-weight: bold;
}
*/
#id_bar .full_name {
	font-weight: bold;
}
#id_bar .id_numbers {
	float:right;
}
/*
	this would randomly and intermittantly fall out of line?
	so added position:relative to id_bar and 
	position:absolute and top and right here
*/
/*
#id_bar .controls {
	position:absolute;
	top:10px;
	right:10px;
	display:inline;
}
*/

#do_not_contact {
	text-align:center;
	color:red;
	font-weight: bold;
	padding: 10px;
	background-color: #FEE;
	border: 2px solid red;
}

	/* http://css-radius.heroku.com */
/*
#id_bar .controls a {
	text-align:center;
	font-size:12pt;
	width: 90px;
	padding: 2px 15px;
	text-decoration:none;
	background-color: white;
	border: 1px solid gray;
	color: black;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#id_bar .controls a:hover {
	background-color:#EEE;
}
*/
