form.edit_study_subject .field_wrapper span.label,
form.edit_study_subject .field_wrapper label {
	width: 140px;
}
form.edit_study_subject .field_wrapper.reference_date span.label,
form.edit_study_subject .field_wrapper.reference_date label {
	width: 200px;
}

form.edit_study_subject .field_wrapper input[type=text] {
	width: 120px;
}

form.edit_study_subject div.state_registrar_no,
form.edit_study_subject div.case_control_type,
form.edit_study_subject div.dob {
	display:inline-block;
	vertical-align: top;
	width: 300px;
}
form.edit_study_subject div.local_registrar_no,
form.edit_study_subject div.subject_type,
form.edit_study_subject div.sex {
	display:inline;
}

	/* otherwise, gets caught on dob fields */
/*form.edit_study_subject div.race_wrapper {
	clear:left;
}
*/
form.edit_study_subject div.race_wrapper > * {
	display:inline-block;
	vertical-align:top;
}
form.edit_study_subject div.race_wrapper {
	margin-bottom: 10px;
}

form.edit_study_subject div.name > label {
	width: 60px;
}
form.edit_study_subject div.name div.field_wrapper {
/*
	clear:none;
*/
	margin-bottom: 0px;
}
form.edit_study_subject div.name div.field_wrapper label {
	width:auto;
}
form.edit_study_subject div.name div.field_wrapper input {
	margin-left: 10px;
	margin-right: 20px;
}
form.edit_study_subject div.name.maiden {
	margin-left: 420px;
}
