<h4>Languages:</h4>
<% unless @languages.to_a.empty? %>
 <table id='languages'><tbody>
  <%= render :partial => 'language', :collection => @languages %>
 </tbody></table>
<% else %>
 <p>Sorry, no languages yet.</p>
<% end %>
<p><%= link_to( 'Create new language', new_language_path, :class => 'button' ) %></p>
