<% stylesheets(:raf) %>


<div class='study_subject_fields'>


<h3>Section 1: Preliminary Information
<span><span class='required'>*</span>required fields</span>
</h3>

<div class='raf_section'>

<%= render :partial => 'raf/prelim_form', :locals => {:f=>f} %>

</div><!-- class='raf_section' -->


</div><!-- class='study_subject_fields' -->
