<h4>New Patient Enrollment</h4>

<%= form_tag(cases_path,:method => :post) do %>
<label>Treating Institution</label>
<%= select_tag 'hospital_id',
	options_from_collection_for_select( 
		@hospitals, :id, :to_s ) %>
<%#		Hospital.active.all(:include => :organization), :id, :to_s ) %>
<%= submit_tag 'New Case' %>
<% end %>
