<h4>New Patient Enrollment</h4>

<p>The new RAF is a ...</p>

<%= link_to('waivered RAF', new_waivered_path, :class => 'button') %>
<%= link_to('non-waivered RAF (e.g. CHLA)', new_nonwaivered_path, :class => 'button') %>


<%# submit_link_to MUST come BEFORE submit_tag to behave as expected. %>
<%# form_tag(case_path,:method => :post) do %>
<%#= submit_link_to('waivered RAF') %>
<%#= submit_tag('waivered') %>
<%#= submit_link_to('non-waivered RAF (e.g. CHLA)') %>
<%#= submit_tag('nonwaivered') %>
<%# end %>
