<% sub_menu_for(@study_subject) %>
<% id_bar_for(@study_subject) %>

<h3>Related Subjects <span>
<%= link_to 'add control', new_case_control_path(@study_subject.id),:class => 'button' %>
</span></h3>

<%#= render :partial => 'family' %>
<%= render :partial => 'matching' %>
<%#= render :partial => 'controls' %>
<%= render :partial => 'rejected_controls' %>
