<div id='subject_control_bar'>
<h3>Case Enrollment Info</h3>
<div class='buttons'>
<%= link_to( "Edit", edit_case_path(@study_subject),
	:class => 'button' ) if current_user.may_update_study_subjects? %>
</div><!-- class='buttons' -->
</div>
