<h4>Abstracts:</h4>

<% unless @abstracts.empty? %>
<table id='abstracts'><thead>
<tr><th>ID</th><th>Pat ID</th>
<th>Entry 1 By</th>
<th>Entry 2 By</th>
<th>Merged By</th>
<th class='manage'>Manage</th></tr>
</thead><tbody>
<%= render @abstracts %>
</tbody></table>
<% else %>
Sorry, no abstracts for this subject yet.
<% end %>


<p>Perhaps I should put a "new" button here.</p>
