<h3>Related Subjects 
<% if @study_subject.is_case? %>
<% if @unrejected_controls.count > 0 %>
<%= button_to "add control ( #{@unrejected_controls.count} available )",
	controls_path(:case_id => @study_subject.id) %>
<% else %>
<span>No controls available.</span>
<% end %>
<% end %>
</h3>

<%#= render :partial => 'family' %>
<%= render :partial => 'matching' %>
<%#= render :partial => 'controls' %>
<%= render :partial => 'rejected_controls' %>
