<p>
  <b>Key:</b>
  <%=h @vital_status.key %>
</p>
<!--
<p>
  <b>Code:</b>
  <%#=h @vital_status.code %>
</p>
-->

<p>
  <b>Description:</b>
  <%=h @vital_status.description %>
</p>

<%= link_to( 'Edit', edit_vital_status_path(@vital_status), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', vital_statuses_path, :class => 'button' ) %>
