<%= form_for( @operational_event,
	:url => event_path(@operational_event),
	:html => {:class => 'edit_event'}) do |f| %>
<%= render 'form', :f => f %>
<% end %>

<% if current_user.may_destroy_events? %>
<div class='dev_only'><span>Development only:</span>
<%= button_to( "Destroy", event_path(@operational_event), :method => 'delete', :form_class => 'destroy_link_to' ) %>
</div>
<% end %>
