<h4>SampleTemperatures:</h4>
<% unless @sample_temperatures.empty? %>
 <table id='sample_temperatures'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'sample_temperature', :collection => @sample_temperatures %>
 </tbody></table><!-- id='sample_temperatures' -->
<% else %>
 <p>Sorry, no sample_temperatures yet.</p>
<% end %>
<p><%= link_to( "Create new sample_temperature", new_sample_temperature_path,
	:class => 'button' ) %></p>
