<p>
  <b>Key:</b>
  <%=h @sample_temperature.key %>
</p>

<p>
  <b>Description:</b>
  <%=h @sample_temperature.description %>
</p>

<%= link_to( 'Edit', edit_sample_temperature_path(@sample_temperature), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', sample_temperatures_path, :class => 'button' ) %>
