<div class='consent raf_section'>

<p>yes -- Informed consent and authorization obtained.</p>
<p>consent date</p>
<p>consent version</p>
<p>(from consent signature page, if available at RAF entry)</p>

<p>No -- Specify who refused...</p>
<p>Family</p>
<p>Physician</p>
<p>Comments</p>

</div><!-- class='consent' -->
