<div class='eligibility raf_section'>

<p>Is this patient under age 15?</p>
<p>yes (eligible)</p>
<p>no (not eligible)</p>

<p>Language of parent or caretaker</p>
<p>English (eligible)</p>
<p>Spanish (eligible)</p>
<p>Other (not eligible)</p>
<p>Specify:</p>

<p>Has this patient received previous treatment for leukemia or another cancer at any institution?</p>
<p>no (eligible)</p>
<p>yes (not eligible)</p>

<p>Does the patient currently reside in California?</p>
<p>yes (eligible)</p>
<p>no (not eligible)</p>

</div><!-- class='eligibility' -->
