<div class='prelim_addition raf_section'>
<% @subject.build_patient if @subject.patient.nil? %>
<% f.fields_for :patient do |patient_fields| %>

	<%= patient_fields.wrapped_text_field :raf_county_id,
		:label_text => 'county:' %>

	<%= patient_fields.wrapped_text_field :raf_zip,
		:label_text => 'zip:' %>

<% end %>
</div><!-- class='prelim_addition raf_section' -->
