<h4>RefusalReasons:</h4>
<% unless @refusal_reasons.to_a.empty? %>
 <table id='refusal_reasons'><tbody>
  <%= render :partial => 'refusal_reason', :collection => @refusal_reasons %>
 </tbody></table>
<% else %>
 <p>Sorry, no refusal_reasons yet.</p>
<% end %>
<p><%= link_to( 'Create new refusal_reason', new_refusal_reason_path,
	:class => 'button' ) %></p>
