<%= form_for(@page) do |f| %>

<%# TODO NOT IN RAILS 3 %>
<%#= f.error_messages %>

 <%= render 'form', :f => f %>
 <p>
  <%= f.submit "Update", :id => nil %>&nbsp;
  <%= link_to "Cancel and View", @page, :class => 'button' %>
 </p>
<% end %>
