<% stylesheets(:contacts) %>
<% javascripts('contacts') %>
<%# sub_menu_for(@study_subject) %>
<%# id_bar_for(@study_subject) %>

<div id='current'>
<%= render :partial => 'addressings' %>
<%= render :partial => 'phone_numbers' %>
</div><!-- id='current' -->
