<% if @enrollment %>

<% sub_menu_for(@enrollment.study_subject) %>

<% content_for :id_bar do %>
<%= link_to 'Edit', edit_study_subject_consent_path(@study_subject) %>
<% end if current_user.may_edit_enrollments? %>
<% id_bar_for(@enrollment.study_subject) %>

<h3>Study Consent Info</h3>

<p>is eligible? yes ... reason ineligible</p>
<p>specify reason</p>

<p>consented? yes</p>
<p>reason for refusal</p>
<p>specify reason</p>

<p>consent date: ....    consent version: ......</p>

<p>May CCLS use samples in future research?  ....</p>

<p>Respondent Information Sheet</p>

<%#= render :file => 'enrollments/show' %>








<% else %>
<% sub_menu_for(@study_subject) %>
<% content_for :id_bar do %>
<%= link_to "edit", edit_study_subject_path(@study_subject) %>
<% end if current_user.may_edit_study_subjects? %>
<% id_bar_for(@study_subject) %>
<p>Subject has no CCLS enrollment. This should NEVER happen.</p>
<p>If one didn't exist, it should have been just created.</p>
<% end %>
