<h4>DocumentVersions:</h4>
<% unless @document_versions.to_a.empty? %>
 <table id='document_versions'><tbody>
  <%= render :partial => 'document_version', :collection => @document_versions %>
 </tbody></table>
<% else %>
 <p>Sorry, no document_versions yet.</p>
<% end %>
<p><%= link_to( 'Create new document_version', new_document_version_path,
	:class => 'button' ) %></p>
