<%= div_for @project do %>
<p class='label'>
Label: <%= @project.label %>
</p>
<p class='key'>
Key: <%= @project.key %>
</p>
<p class='description'>
Description: <%= @project.description %>
</p>
<% end %>
