<%# sub_menu_for(@study_subject) %>
<%# id_bar_for(@study_subject) %>
<div>
<h3>CCLS Study Enrollment data is only collected for child subjects. Please go to the record for the subject's child for details.</h3>
</div>
