development:
  adapter: mysql2
  encoding: utf8
  database: odms_development
  username: root
  password:
  host: localhost

#
#	This database NEEDS to be different in the apps that
#	use this so that they do not step all over each other.
#
test:
  adapter: mysql2
  encoding: utf8
  database: odms_test
  username: root
  password:
  host: localhost

production:
  adapter: mysql2
  encoding: utf8
  database: odms_production
  username: root
  password:
  host: localhost

