<h4>Address Types:</h4>
<% unless @address_types.empty? %>
 <table id='address_types'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'address_type', :collection => @address_types %>
 </tbody></table><!-- id='address_types' -->
<% else %>
 <p>Sorry, no address_types yet.</p>
<% end %>
<p><%= link_to( "Create new address_type", new_address_type_path,
	:class => 'button' ) %></p>
