<h4>Sections:</h4>
<% unless @sections.empty? %>
 <table id='sections'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'section', :collection => @sections %>
 </tbody></table><!-- id='sections' -->
<% else %>
 <p>Sorry, no sections yet.</p>
<% end %>
<p><%= link_to( "Create new section", new_section_path,
	:class => 'button' ) %></p>
