-
  :attributes:
  - :line_1
  - :city
  - :state
  - :zip
  :presence: true

-
  :attributes:
  - :line_1
  - :line_2
  - :unit
  - :city
  - :state
  :length:
    :maximum: 250
  :allow_blank: true

-
  :attribute: :zip
  :length:
    :maximum: 10
  :allow_blank: true

-
  :attribute: :external_address_id
  :uniqueness: true
  :allow_blank: true

-
  :attribute: :zip
  :format:
    :with: !ruby/regexp /\A\s*\d{5}(-)?(\d{4})?\s*\z/
    :message: "Zip should be 12345, 123451234 or 12345-1234"
  :allow_blank: true

-
  :attribute: :address_type
  :presence: true
  :inclusion:
    :in: <%= Address.valid_address_types %>

