-
  :attributes: 
  - :phone_number
  :presence: true

-
  :attribute: :other_data_source
  :presence: true
  :if: :data_source_is_other?

-
  :attribute: :phone_number
  :format:
    :with: !ruby/regexp /\A(\D*\d\D*){10}\z/
  :allow_blank: true

-
  :attributes:
  - :current_phone
  :inclusion:
    :in: <%= YNDK.valid_values %>
  :allow_nil: true

-
  :attribute: :phone_type
  :presence: true
  :inclusion:
    :in: <%= PhoneNumber.valid_phone_types %>

-
  :attribute: :data_source
  :presence: true
  :inclusion:
    :in: <%= PhoneNumber.valid_data_sources %>

