-
  :attributes: 
  - :sample_type_id
  - :project_id
  :presence: true

-
  :attribute: :sample_type
  :presence: true
  :if: :sample_type_id

-
  :attribute: :study_subject
  :presence: true
  :if: :study_subject_id

-
  :attribute: :project
  :presence: true
  :if: :project_id

-
  :attribute: :sample_format
  :presence: true
  :if: :sample_format_id

-
  :attribute: :sample_temperature
  :presence: true
  :if: :sample_temperature_id

-
  :attribute: :state
  :length:
    :maximum: 250
  :allow_blank: true

-
  :attribute: :notes
  :length:
    :maximum: 65000
  :allow_blank: true

-
  :attributes:
  - :sent_to_subject_at
  - :collected_from_subject_at
  - :received_by_ccls_at
  - :shipped_to_ccls_at
  - :sent_to_lab_at
  - :received_by_lab_at
  - :aliquotted_at
  - :receipt_confirmed_at
  :complete_date: true
  :past_date: true


#-
#  :attribute: :sample_temperature
#  :presence: true
#  :inclusion:
#    :in: <%= Sample.valid_sample_temperatures %>
#

#-
#  :attribute: :sample_format
#  :presence: true
#  :inclusion:
#    :in: <%= Sample.valid_sample_formats %>
#
