<fieldset>
<legend>Informed Consent and Biological Samples</legend>

<p>Consent for which project/enrollment?</p>

<p>Consent Information</p>

<p>consent date</p>

<p>consent version</p>

<p>Biological Samples</p>

<p>Are there blood and bone marrow samples available for shipment to CCLS?</p>
</fieldset>
