<div class='consent raf_section'>

<p>Consent for which project/enrollment?</p>

<p>Consent Information</p>

<p>consent date</p>

<p>consent version</p>

<p>Biological Samples</p>

<p>Are there blood and bone marrow samples available for shipment to CCLS?</p>
</div><!-- class='consent' -->
