<div class='eligibility raf_section'>
<p>Is this patient under age 15?</p>

<p>Language of parent or caretaker</p>

<p>Has this patient received previous treatment for leukemia or another cancer at any institution?</p>

<p>Does the patient currently reside in California?</p>
</div><!-- class='eligibility' -->
