<p>Subjects Dashboard</p>

<p>add : case, control, mother </p>

<p>find: find by .. first name, last name, childid, patid, hospital no, state id no</p>

<p>manage ... </p>
<p>subjects not sent to SRO (30+ days following consent)</p>
<p>subjects ascertained with no consent (14+ days following consent)</p>
<p>subjects ready for intro letter</p>
