<%= form_for(@address,
	:url => study_subject_address_path(@address.study_subject_id,@address.id),
	:html => { :class => 'confirm edit_address' }) do |f| %>
<%= render 'form', :f => f %>
<% end %>

<%= render 'map' %>

<% if current_user.may_destroy_addresses? %>
<div class='dev_only'><span>Development only:</span>
<%= (@address.new_record?)? nbsp : button_to( "Destroy", study_subject_address_path(@address.study_subject_id, @address.id), :method => 'delete', :form_class => 'destroy_link_to' ) %>
</div>
<% end %>
