<h4>InstrumentVersions:</h4>
<% unless @instrument_versions.empty? %>
 <table id='instrument_versions'><thead><tr>
  <th>Key</th>
  <th>Description</th>
  <th>Instrument Type</th>
 </tr></thead><tbody>
  <%= render :partial => 'instrument_version', :collection => @instrument_versions %>
 </tbody></table><!-- id='instrument_versions' -->
<% else %>
 <p>Sorry, no instrument_versions yet.</p>
<% end %>
<p><%= link_to( "Create new instrument_version", new_instrument_version_path,
	:class => 'button' ) %></p>
