<% content_tag_for :tr, icf_master_tracker, :class => 'row' do %>
 <td class='Masterid'><%= icf_master_tracker.Masterid %></td>
 <td class='study_subject'><%= icf_master_tracker.study_subject %></td>
 <td>Insert update and error status here.</td>
<% end %>
