<tr class='icf_master_tracker paired row'>
 <td class='Masterid'><%= link_to icf_master_tracker.Masterid, icf_master_tracker %></td>
 <td class='study_subject'><% if icf_master_tracker.study_subject %>
<%= link_to icf_master_tracker.study_subject, icf_master_tracker.study_subject %>
<% else %>Tracker has no study subject.<% end %></td>
 <td>&nbsp;</td>
</tr>

<tr class='icf_master_tracker paired row'>
 <td>&nbsp;</td>

<%# last_update_attempted_at %>

<td><% unless icf_master_tracker.last_update_attempt_errors.blank? %>
<%= icf_master_tracker.last_update_attempt_errors %>
<% else %>&nbsp;<% end %>
</td>


<td class='manage'><% if icf_master_tracker.flagged_for_update %>
<%= form_link_to 'Update', icf_master_tracker_path(icf_master_tracker),
	'method' => 'put' %>
<% else %>
&nbsp;
<% end %></td>


</tr>
