<tr class='icf_master_tracker paired row'>
 <td class='Masterid'><%= icf_master_tracker.Masterid %></td>
 <td class='study_subject'><%= icf_master_tracker.study_subject %></td>
</tr>
<tr class='icf_master_tracker paired row'>
 <td>&nbsp;</td>
 <td>Insert update and error status here.</td>
</tr>
