<h4>SampleOutcomes:</h4>
<% unless @sample_outcomes.to_a.empty? %>
 <table id='sample_outcomes'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'sample_outcome', :collection => @sample_outcomes %>
 </tbody></table><!-- id='sample_outcomes' -->
<% else %>
 <p>Sorry, no sample_outcomes yet.</p>
<% end %>
<p><%= link_to( "Create new sample_outcome", new_sample_outcome_path,
	:class => 'button' ) %></p>
