<h4>Birth Data</h4>
<p>This is all a bit much. Perhaps just some key info, link to case and subject, link to complete birth datum all in a nice clean table.</p>
<% @birth_data.each do |birth_datum| %>
<p><%= birth_datum.inspect %></p>
<% end %>
