#address_line_1,
#address_line_2 {
	width: 300px;
}
#address_city {
	width: 190px;
}
#address_other_data_source,
#address_unit,
#address_zip {
	width: 100px;
}
.dev_only {
	margin-top: 30px;
}
.dev_only span {
	float:left;
}
.field_wrapper label {
	width:150px;
}
div.line_1 {
	margin-right: 20px;
}
div.line_1,
div.unit {
	display:inline-block;
}
div.unit label {
	width:30px;
}
form.edit_address > div.moved > div.subject_moved > label {
	display:inline;
}
div.data_source {
	margin-right: 10px;
}
div.unit,
div.other_data_source {
	clear:none;
}
.other_data_source label {
	width: auto;
	padding-right: 10px;
}
