
/* Interesting info.  @imports must be first */
/*
@import url('menus.css');
*/
/*
	Include it via manifesting instead?
*/
/*
 *= require ./scaffold.css
 *= require ./menus.css
*/

body {
	padding:0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin: 0px auto;
	background-color: #EEEEEE;
}

div#container {
	width: 1100px;
	margin: 0 auto;

	/* guidance background color */
	background-color: #ECE9DF;	

	/* box-shadow: <horizontal> <vertical> <blur> <color> */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div#header {
	margin:0;
	padding:0;
	background-color: #6A7780;
	height: auto;
}
div#header div#header_top {
	height: 50px;
	display:block;
	padding: 0px;
	margin: 0px;
	border: 0px;
	clear:both;
}
div#logo {
	width: 650px;
	float:left;
	padding-left: 10px;
	font-family: Times New Roman,LeagueGothicRegular,helvetica,arial,sans-serif;
}
div#logo h2 {
	font-size: 30px;
	margin: 10px;
	margin-top: 3px;
	margin-bottom: 0px;
	color:white;
	text-shadow: #000 0 2px 3px;
	display:inline-block;
}
h2 span {
	font-size: 15px;
	line-height: 30px;
	display:inline-block;
	vertical-align:middle;
}
h3 > input[type=submit],
h3 > span {
	float:right;
	font-size:10pt;
	font-weight:normal;
}

/* primarily for the bc_request export buttons */
h4 > form,
h4 > span {
	float:right;
	font-size:10pt;
	font-weight:normal;
}

div#fullsearch {
	clear:right;
	float:right;
}
div#subsearch {
	text-align:right;
}

div#main {
	background-color:white;
	border-right: 1px solid silver;
}

div#content {
	padding: 5px 25px;
	font-size: 10pt;
}

div#preview {
	margin-top: 20px;
	border-top: 1px solid silver;
}
div.section {
	border-right: 1px solid silver;
	float:left;
	width: 33.1%;
	text-align:center;
}
div.section:last-child {
	border-right: 0;
}
div.section h4 {
	margin: 10px;
	padding-bottom:5px;
	border-bottom:1px solid silver;
}
div.section table {
	float:left;
	width:100%;
}

div#guidance {
	width: 200px;
	padding: 0 9px;
	font-size: 9pt;
}

#footer {
	clear:both;
	padding-top: 1ex;
	padding-bottom: 1ex;
	text-align:center;
	font-size:8pt;
	line-height:8pt;
	background-color: #EEE;
	color: gray;
}

#container, #footer {
	/* http://css-radius.heroku.com */
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/*
	This is the button control bar on the dashboards
*/
#dashboard_control_bar {
	text-align:right;
}
#dashboard_control_bar a {
	background-color: #EEE;
	border: 1px solid gray;
	border-radius: 5px 5px 5px 5px;
	color: black;
	font-size: 12pt;
	padding: 2px 15px;
	text-align: center;
	text-decoration: none;
}
#dashboard_control_bar a.current {
	background-color: #FFF;
}


/*
	This is the form title, cancel, save stuff
*/
#subject_control_bar > * {
	display:inline-block;
	margin: 15px 0;
}
#subject_control_bar > .buttons {
	float:right;
}

.flash {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0.7em;
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
}
.flash.error,
.flash#error {
	border: 2px solid #F44;
	background-color: #FCC;
}
.flash.notice,
.flash#notice {
	border: 2px solid #4F4;
	background-color: #CFC;
}
.flash.noscript,
.flash#noscript {
	border: 2px solid #FF8C00;
	background-color: #FFC5AF;
}
.flash.warn,
.flash#warn {
	border: 2px solid #FF6600;
	background-color: #FFCC99;
}
.warning {
	border: 2px solid #F44;
	background-color: #FCC;
	margin: 1px;
	padding: 1px;
}

fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p > small {
	color: gray;
	font-size: 6pt;
}

div.header {
	clear:both;
	padding: 6px;
}
.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
.row div.manage {
	text-align:right;
}
.row:nth-child(1) {
	border-top: 1px solid silver;
}
.row:nth-child(2n)   { background-color: #FCF9EF; }
.row:nth-child(2n+1) { background-color: #F5F1E8; }
.row.diff:nth-child(2n)   { background-color: #EBB; }
.row.diff:nth-child(2n+1) { background-color: #DBB; }

table {
	border-collapse:collapse;
	width: 100%;
}
table.nowrap td { white-space: nowrap; }
thead tr th,
tr.row td {
	padding: 6px;
}
td.manage {
	text-align:right;
	white-space: nowrap;
}

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pagination {
	text-align: center;
}

.columns {
	clear:both;
	/* this holds the div open to the size of the contents */
	display:table-row;
	margin: 13.333px 0;
}
.columns > div {
	/* and this seems to alleviate the need for floating */
	display:table-cell;
	/* stop one column from pushing another down */
	vertical-align: top;
}



th {
	text-align: left;
}

/* basically for multiple fields in a row */
.field_grouper > *{
	display:inline-block;
	clear:none;
	vertical-align:top;
}
.field_wrapper {
	margin-bottom: 15px;
	clear:both;
}
.field_wrapper .label,
.field_wrapper  label {
	width: 250px;
}
.field_wrapper > * {
	/* more explicitly replace with inline-block and an alignment. */
	/* use > * instead of just * as select/options would go full screen width */
	display:inline-block;
	vertical-align:top;
}
form .field_wrapper input[type=checkbox] + label {
	width: auto;
}


form.destroy_link_to div,
form.destroy_link_to {
	display:inline;
}

.field_error {
	background-color: #F88;
}

.required {
	font-size: 12pt;
	color: red;
	font-weight: bold;
}
p.submit_bar {
	text-align: center;
}

input.small  { width: 10em; }
input.medium { width: 20em; }

div.table {
	clear:both;
	/* this holds the table-row open, otherwise shrinks to whatever */
	display:table;
	width:100%;
}
div.table .row {
	display:table-row;
}
div.table .row .cell {
	display:table-cell;
}

.center {
	text-align: center;
}
.right {
	float: right;
}
.left {
	float: left;
}
.superscript { font-size:x-small; vertical-align:top; }
.subscript   { font-size:x-small; vertical-align:bottom; }


div.sortable {
	height: 18px;
	line-height: 16px;
}
div.sortable * {
	display:inline;
	vertical-align:top;
}
div.sortable img {
	height: 24px;
}

span.value,
p.value { font-weight: bold; }

/*

END CCLS_ENGINE

BEGIN APPLICATION

*/



/***************************************************

			Generic stuff above.
			Specific stuff below.

****************************************************/


div#preview table tr th {
	text-align: center;
}

table#guides td.controller {
	width: 300px;
}
/* 
	I don't know why I need to do this, but without this, the datepicker border 
	actually shows up in the lower left corner until it is used.  After that it 
	is properly hidden.  Perhaps a newer theme version would fix this?
*/
div.ui-datepicker { display:none; }

input.datepicker {
	width: 100px;
}

form.edit_guide .field_wrapper label {
	display:block;
	margin-top:10px;
}
form.edit_guide textarea {
	width: 100%;
}
form.edit_guide input[type=text] {
	width: 99%;
}

.homex_outcomes .columns .column:nth-child(1) {
	width: 350px;
}
.homex_outcomes .columns .column:nth-child(2) {
	width: auto;
}
.homex_outcomes .field_wrapper .label {
	width: 120px;
}
.homex_outcomes .title {
	width: 160px;
}
.study_subject .homex_outcomes .title {
	float: left;
}
.interview .homex_outcomes .title {
	font-weight: bold;
}
.edit_study_subject   .do_not_contact,
.edit_interview .intro_letter_sent_on,
.interview      .homex_outcomes .title,
.study_subject        .homex_outcomes,
.edit_study_subject   .homex_outcomes {
	margin: 13.333px 0;
}
.interview      .homex_outcomes .columns,
.edit_interview .homex_outcomes .columns,
.edit_study_subject   .homex_outcomes .columns {
	display: block;
}


/*
	Make submit buttons and a.button tags look the same.
	This works in Firefox and Chrome.  Don't know about IE.
*/
input[type=submit],
a.button {
	cursor: pointer;
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid gray;
	text-decoration: none;
	padding: 1px 8px;
	color: black;

	background-color: #DDDDDD;

/*
	background or background-image ???
*/
/* for webkit browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC)); 
/* for firefox 3.6+  */
	background: -moz-linear-gradient(top,  #EEEEEE,  #CCCCCC); 
/* for ie , but doesn't seem to work as expected despite other examples working */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#EEEEEE', EndColorStr='#CCCCCC');
}
/*
	input and a tags use different box-sizing so need to set 
		different paddings so that they appear the same.
	This particular difference is caused by the 1px border.
*/
input[type=submit] {
	padding: 0px 8px;
}

form#confirm_sample_transfers {
	display:inline-block;
}
form#confirm_sample_transfers h4 {
	display:inline-block;
	margin-right: 10px;
}
