
/* Interesting info.  @imports must be first */
/*
@import url('menus.css');
*/
/*
	Include it via manifesting instead?
*/
/*
 *= require ./scaffold.css
 *= require ./menus.css
*/

body {
	padding:0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin: 0px auto;
	background-color: #EEEEEE;
}

div#container {
	width: 1100px;
	margin: 0 auto;

	/* guidance background color */
	background-color: #ECE9DF;	

	/* box-shadow: <horizontal> <vertical> <blur> <color> */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div#header {
	margin:0;
	padding:0;
	background-color: #6A7780;
	height: auto;
	div#header_top {
		height: 50px;
		display:block;
		padding: 0px;
		margin: 0px;
		border: 0px;
		clear:both;
	}
}
div#logo {
	width: 650px;
	float:left;
	padding-left: 10px;
	font-family: Times New Roman,LeagueGothicRegular,helvetica,arial,sans-serif;
	h2 {
		font-size: 30px;
		margin: 10px;
		margin-top: 3px;
		margin-bottom: 0px;
		color:white;
		text-shadow: #000 0 2px 3px;
		display:inline-block;
	}
}
h2 span {
	font-size: 15px;
	line-height: 30px;
	display:inline-block;
	vertical-align:middle;
}
h3 {
	> input[type=submit],
	> span {
		float:right;
		font-size:10pt;
		font-weight:normal;
	}
}

div#fullsearch {
	clear:right;
	float:right;
}
div#subsearch { text-align:right; }

div#main {
	background-color:white;
	border-right: 1px solid silver;
}

div#content {
	padding: 5px 25px;
	font-size: 10pt;
}

div#guidance {
	width: 200px;
	padding: 0 9px;
	font-size: 9pt;
}

#footer {
	clear:both;
	padding-top: 1ex;
	padding-bottom: 1ex;
	text-align:center;
	font-size:8pt;
	line-height:8pt;
	background-color: #EEE;
	color: gray;
}

#container, #footer {
	/* http://css-radius.heroku.com */
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/* generic 'control bar' */
.control { 
	display:table; 
	width: 100%;
	> .control_row {
		display:table-row;
		> * {
			padding: 10px 0;
			display:table-cell;
			> form.button_to { display:inline; }
		}
		> *:last-child { text-align:right; }
	}
}
/* end generic 'control bar' */


/*
	This is the button control bar on the dashboards
*/
#dashboard_control_bar {
	text-align:right;
	a {
		background-color: #EEE;
		border: 1px solid gray;
		border-radius: 5px 5px 5px 5px;
		color: black;
		font-size: 12pt;
		padding: 2px 15px;
		text-align: center;
		text-decoration: none;
		&.current { background-color: #FFF; }
	}
}


.flash {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0.7em;
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
	&.error,
	&#error {
		border: 2px solid #F44;
		background-color: #FCC;
	}
	&.notice,
	&#notice {
		border: 2px solid #4F4;
		background-color: #CFC;
	}
	&.noscript,
	&#noscript {
		border: 2px solid #FF8C00;
		background-color: #FFC5AF;
	}
	&.warn,
	&#warn {
		border: 2px solid #FF6600;
		background-color: #FFCC99;
	}
}
.warning {
	border: 2px solid #F44;
	background-color: #FCC;
	margin: 1px;
	padding: 1px;
}

fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p > small {
	color: gray;
	font-size: 6pt;
}

div.header {
	clear:both;
	padding: 6px;
}
.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
	div.manage { text-align:right; }
	&:nth-child(1) { border-top: 1px solid silver; }
	&:nth-child(2n)   { background-color: #FCF9EF; }
	&:nth-child(2n+1) { background-color: #F5F1E8; }
	&.diff:nth-child(2n)   { background-color: #EBB; }
	&.diff:nth-child(2n+1) { background-color: #DBB; }
}

table {
	border-collapse:collapse;
	width: 100%;
	td.nowrap, &.nowrap td { white-space: nowrap; }
	thead tr th,
	tr.row td { padding: 6px; }
	th.manage,
	td.manage {
		text-align:center;
		white-space: nowrap;
	}
	th { text-align: left; }
	&#guides td.controller { width: 300px; }
	&.medical_record_requests,
	&.bc_requests { font-size:8pt; }
	&.sample_study_subject,
	&.birth_records {
		th, td {
			border: 1px solid gray;
			text-align: center;
		}
	}
}

div.pagination { text-align: center; }
div.pagination.wrapper {
	margin-top:5px;
	div.pagination { display:inline; }
	label { margin-left: 30px; }
	input { width: 30px; }
}

.columns {
	clear:both;
	/* this holds the div open to the size of the contents */
	display:table-row;
	margin: 13.333px 0;
	> div {
		/* and this seems to alleviate the need for floating */
		display:table-cell;
		/* stop one column from pushing another down */
		vertical-align: top;
	}
}

/* basically for multiple fields in a row */
.field_grouper > *{
	display:inline-block;
	clear:none;
	vertical-align:top;
}

.field_wrapper {
	margin-bottom: 15px;
	clear:both;
	> * {
		display:inline-block;
		vertical-align:top;
	}
	.label { width: 250px; }
}

form {
	.field_wrapper input[type=checkbox] + label { width: auto; }
	&.destroy_link_to div,
	&.destroy_link_to,
	&.button_to > div { display: inline; }
	&.link_to {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&.edit_guide {
		.field_wrapper label {
			display:block;
			margin-top:10px;
		}
		textarea { width: 100%; }
		input[type=text] { width: 99%; }
	}
	&#confirm_sample_transfers {
		display:inline-block;
		h4 {
			display:inline-block;
			margin-right: 10px;
		}
	}
	&.edit_sample_transfer,
	&.edit_event {
		.field_wrapper label { width: 100px; }
	}

	&.edit_sample {
		.field_wrapper > .label { width: 150px; }
		.location_id.field_wrapper {
			float:left;
			clear:none;
			padding-left: 10px;
			label { width:70px; }
		}
	}

}

.field_error { background-color: #F88; }

.required {
	font-size: 12pt;
	color: red;
	font-weight: bold;
}
p.submit_bar { text-align: center; }

input.small  { width: 10em; }
input.medium { width: 20em; }

div.table {
	clear:both;
	/* this holds the table-row open, otherwise shrinks to whatever */
	display:table;
	width:100%;
	> .row {
		display:table-row;
		> .cell { display:table-cell; }
	}
}

.center { text-align: center; }
.right  { float: right; }
.left   { float: left; }
.superscript { font-size:x-small; vertical-align:top; }
.subscript   { font-size:x-small; vertical-align:bottom; }


div.sortable {
	height: 18px;
	line-height: 16px;
	* {
		display:inline;
		vertical-align:top;
	}
	img { height: 24px; }
}

span.post_text { margin-left:10px; }
span.value,
p.value { font-weight: bold; }



/***************************************************

			Generic stuff above.
			Specific stuff below.

****************************************************/


div#preview {
	margin-top: 20px;
	border-top: 1px solid silver;
	table tr th { text-align: center; }
}

/* 
	I don't know why I need to do this, but without this, the datepicker border 
	actually shows up in the lower left corner until it is used.  After that it 
	is properly hidden.  Perhaps a newer theme version would fix this?
*/
div.ui-datepicker { display:none; }

input.datepicker { width: 100px; }


.homex_outcomes {
	.columns {
		.column:nth-child(1) { width: 350px; }
		.column:nth-child(2) { width: auto; }
	}
	.field_wrapper .label { width: 120px; }
	.title { width: 160px; }
}

.study_subject .homex_outcomes .title { float: left; }
.interview .homex_outcomes .title { font-weight: bold; }
.edit_study_subject   .do_not_contact,
.edit_interview .intro_letter_sent_on,
.interview      .homex_outcomes .title,
.study_subject        .homex_outcomes,
.edit_study_subject   .homex_outcomes { margin: 13.333px 0; }
.interview      .homex_outcomes .columns,
.edit_interview .homex_outcomes .columns,
.edit_study_subject   .homex_outcomes .columns { display: block; }


/*
	Make submit buttons and a.button tags look the same.
	This works in Firefox and Chrome.  Don't know about IE.
*/
button,
input[type=submit],
a.button {
	cursor: pointer;
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid gray;
	text-decoration: none;
	padding: 1px 8px;
	color: black;

	background-color: #DDDDDD;

/*
	background or background-image ???
*/
/* for webkit browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC)); 
/* for firefox 3.6+  */
	background: -moz-linear-gradient(top,  #EEEEEE,  #CCCCCC); 
/* for ie , but doesn't seem to work as expected despite other examples working */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#EEEEEE', EndColorStr='#CCCCCC');
}
/*
	input and a tags use different box-sizing so need to set 
		different paddings so that they appear the same.
	This particular difference is caused by the 1px border.
*/
input[type=submit] { padding: 0px 8px; }

/* app/views/study_subject/patients/show.html.erb */
#patient .field_wrapper > span.label { width: 170px; }

div.event_show .field_wrapper .label { width: 100px; }

table#enrollments tr { text-align:left; }

form.edit_page {
	input[type='text'],
	textarea { width: 99%; }
	div.parent { float:left; }
	div.locale { float:left; }
	div.hide_menu { float:right; }
	div.fields { clear:left; }
}


tr.page {
	.position {
		font-weight:bold;
		text-align:center;
	}
	.path,
	.menu,
	.title { width: 140px; }
	.manage { text-align:right; }
	&.row.ui-sortable-helper { border: 1px dashed #E7C254; }
}


form.edit_abstract {
	.field_wrapper {
		margin-top: 5px;
		margin-bottom: 5px;
		> * { vertical-align: middle; }
	}
	ol li {
		font-size: large;
		* { font-size: medium; }
	}
	input[type=text] { width:150px; }
	h1 { 
		color: red; 
		background-color: yellow; 
	}
}	/* form.edit_abstract { */


form.edit_phone_number {
	.field_wrapper label { width:130px; }
	div.source > div {
		display:inline-block;
		vertical-align:top;
	}
	div.data_source { margin-right: 10px; }
	div.other_data_source {
		clear:none;
		label {
			width: auto;
			padding-right: 10px;
		}
	}
	#phone_number_other_data_source { width: 150px; }
	.dev_only {
		margin-top: 30px;
		clear:left;
		span { float:left; }
	}
}


form.edit_address {
	#address_line_1,
	#address_line_2 { width: 300px; }
	#address_city { width: 190px; }
	#address_other_data_source,
	#address_unit,
	#address_zip { width: 100px; }
	.dev_only {
		margin-top: 30px;
		span { float:left; }
	}
	.field_wrapper label { width:150px; }
	div.line_1 { margin-right: 20px; }
	div.line_1,
	div.unit { display:inline-block; }
	div.unit label { width:30px; }
	> div.moved > div.subject_moved > label { display:inline; }
	div.data_source { margin-right: 10px; }
	div.unit,
	div.other_data_source { clear:none; }
	.other_data_source label {
		width: auto;
		padding-right: 10px;
	}
}	/* form.edit_address */



/* from study_subject_id_bar */
#subject_header {
	display:table;
	width: 100%;
	#id_bar {
		display:table-row;
		background-color: #E5DBC1;
		> div {
			border: 1px solid black;
			padding: 10px;
			display:table-cell;
		}
		div.full_name {
			font-weight: bold;
			border-right: 0px;
		}
		div.id_numbers {
			text-align:right;
			border-left: 0px;
			> div { display:inline-block; }
			> div.icf_master_id {
				display:inline;
				padding-right: 10px;
			}
		}
	}
}

#do_not_contact {
	text-align:center;
	color:red;
	font-weight: bold;
	padding: 10px;
	background-color: #FEE;
	border: 2px solid red;
}
#ineligible {
	text-align:center;
	color:blue;
	font-weight: bold;
	padding: 10px;
	background-color: #EEF;
	border: 2px solid blue;
}
#refused {
	text-align:center;
	color:purple;
	font-weight: bold;
	padding: 10px;
	background-color: #FEF;
	border: 2px solid purple;
}
#replicated {
	text-align:center;
	color:orange;
	font-weight: bold;
	padding: 10px;
	background-color: #FED;
	border: 2px solid orange;
}

table#users {
	td.username { width: 300px; }
	td.role_name { text-align:right; }
	tr.row:nth-child(2n).superuser       { background-color: #E88; /* redish */ }
	tr.row:nth-child(2n+1).superuser     { background-color: #D88; /* redish */ }
	tr.row:nth-child(2n).administrator   { background-color: #EE8; /* yellowish */ }
	tr.row:nth-child(2n+1).administrator { background-color: #DD8; /* yellowish */ }
	tr.row:nth-child(2n).exporter        { background-color: #ECE; /* purpleish */ }
	tr.row:nth-child(2n+1).exporter      { background-color: #DCD; /* purpleish */ }
	tr.row:nth-child(2n).editor          { background-color: #CEE; /* bluish */ }
	tr.row:nth-child(2n+1).editor        { background-color: #CDD; /* bluish */ }
	tr.row:nth-child(2n).reader          { background-color: #CCC; /* grayish */ }
	tr.row:nth-child(2n+1).reader        { background-color: #BBB; /* grayish */ }
}

fieldset#user {
	div.person {
		float:left;
		width: 60%;
	}
	div#roles {
		margin-left: 60%;
		a img { margin-left: 50px; }
		ul {
			list-style-position: outside;
			list-style-type: none;
			padding: 0;
		}
	}
}

form#find_samples {
	div.table {
		clear:both;
		/* this holds the table-row open, otherwise shrinks to whatever */
		display:table;
		width:100%;
		div.tablerow {
			display:table-row;
			> div {
				display:table-cell;
				padding: 5px;
			}
			> div input[type='text'] { width: 100px; }
		}
	}
}

div#sample {
	.field_wrapper.sample_type_parent {
		float:left;
		margin-right:70px;
	}
	.field_wrapper {
		margin-bottom: 15px;
		.label {
			float: left;
			width: 200px;
		}
	}
}

form.edit_patient {
	.field_wrapper label { width: 170px; }
	.admit_date_wrapper {
		.warning {
			display:none;
			width:250px;
			float:right;
			padding: 5px;
			padding-right:0;
		}
		&.changed .admit_date { display:inline; }
		&.changed .warning {
			display:inline;
			background-color: #FDD;
			border: 1px solid #F88;
		}
	}
	.diagnosis,
	.other_diagnosis {
		display:inline-block;
		vertical-align:top;
	}
	.diagnosis { margin-right: 10px; }
	.other_diagnosis label { width:auto; }
}

.enrollment .field_wrapper {
	&.completed_on .label,
	&.terminated_reason .label,
	&.other_refusal_reason .label,
	&.refusal_reason .label,
	&.document_version .label,
	&.consented_on .label,
	&.other_ineligible_reason .label,
	&.ineligible_reason .label,
	&.reason_not_chosen  .label {
		text-indent:50px;
	}
}

form.edit_enrollment {
	.field_wrapper {
		padding-left: 5px;
		clear:none;
		&.terminated_reason label,
		&.refusal_reason_id label,
		&.ineligible_reason_id label { text-indent:50px; }
		&.consented_on label,
		&.is_candidate label,
		&.tracing_status label,
		&.is_eligible label,
		&.consented label,
		&.completed_on label { width: 100px; }
		&.is_complete label { width: 250px; }
		&.consented_on label ,
		&.completed_on label ,
		&.document_version_id ,
		&.other_ineligible_reason ,
		&.reason_not_chosen ,
		&.other_refusal_reason { text-align:right; }
	}
}



div#contacts {
	.historic { background-color: #EEE; }
	.contact_wrapper {
		padding-bottom:10px;
		clear:left;	
		border-top: 1px dotted silver;
		&:nth-child(1) { border-top: 0; }
		> div {
			display:inline-block;
			vertical-align: top;
		}
	}
	.phone_number,
	.address { width: 200px; }
	.contact_meta > span { display:block; }
	.address,
	.alternate_contact {
		.line_1,
		.line_2,
		.unit,
		.county,
		.csz {
			display:block;
		}
	}
	.edit {
		float:right;
		text-align: right;
	}
	.new {
		clear:both;
		margin-top:0;
	}

	.addresses,
	.phone_numbers,
	.alternate_contacts {
		display:table;
		width:100%;
	}
	.address_wrapper,
	.phone_number_wrapper,
	.alternate_contact_wrapper {
		display:table-row;
	}
	.address_wrapper > div,
	.phone_number_wrapper > div,
	.alternate_contact_wrapper > div {
		display:table-cell;
		border-left: 1px solid #EEE;
		padding: 5px;
		&:first-child, &:last-child { border-left: 0px; }
	}
	.alternate_contact_wrapper > div span.phone_number { display:block; }
}


form#find_study_subjects {
	span.arrow { padding-left:0.5ex; }
	div.table {
		clear:both;
		/* this holds the table-row open, otherwise shrinks to whatever */
		display:table;
		width:100%;
		div.tablerow {
			display:table-row;
			> div {
				display:table-cell;
				padding: 5px;
			}
			> div input[type='text'] { width: 100px; }
		}
	}
	table#study_subjects th { text-align: left; }
}




div.child_parent.raf_section {
	.names {
		input { width: 100px; }
		.tablerow {
			margin-left: 20px;
			> span {
				width: 120px;
				display:inline-block;
				text-align:center;
			}
			p.guardian {
				display:inline-block;
				margin-left: -20px;
				width: 390px;
			}
			/* needs to be wider to fit the subject relationship selector */
			span.big { width: 210px; }
		}
		p { margin-bottom: 0; }
	}
}

div.study_subject {
	.field_wrapper span.label { width: 170px; }
	.state_id_no.field_wrapper span.label { width: auto; }
	.mother_maiden_name,
	.guardian_relationship,
	.other_guardian_relationship {
		margin-left: 50px;
	}
}

form.edit_study_subject {
	.field_wrapper .label { width: 140px; }
	div.name div.field_wrapper label,
	.field_wrapper.state_id_no span.label { width: auto; }
	.field_wrapper.reference_date .label { width: 200px; }
	.field_wrapper input[type=text] { width: 120px; }
	div.state_registrar_no,
	div.case_control_type,
	div.dob {
		display:inline-block;
		vertical-align: top;
		width: 300px;
	}
	div#races div.subject_race { margin-left:30px; }
	div#study_subject_races { margin-bottom: 10px; }
	div.name {
		> label { width: 60px; }
		div.field_wrapper {
			margin-bottom: 0px;
			select,
			input {
				margin-left: 10px;
				margin-right: 20px;
			}
		}
		&.maiden { margin-left: 420px; }
		* { vertical-align: top; }
	}
	div.guardian_relationship { margin-left: 100px; }
	div.guardian_relationship label { padding-right:10px; }
	div.other_guardian_relationship { display: inline; }
}

form.edit_candidate_control {
	div.possible_duplicates {
		border:1px solid black; 
		padding: 10px;
		margin-bottom:30px;
		table.candidate_control {
			width: auto;
			th, td { padding: 10px; }
		}
		+ div.reject_control_wrapper { display:none; }
	}

	div#reject_control {
		border-bottom:1px solid black;
		> div {
			border:1px solid black; 
			border-bottom:0; 
			padding: 10px;
		}
		> div.info { background-color:silver; }
		table {
			th, td {
				text-align:center;
				font-size:8pt;
			}
			td {
				border:1px solid black;
				border-left: 0;
				background-color: white;
				&.label {
					background-color: transparent;
					border:0;
					border-right:1px solid black;
					padding-right: 5px;
					text-align:right;
				}
			}
		}
		> div.disposition {
			div {
				vertical-align:top;
				display:inline-block;
				padding-right: 5px;
			}
			div.rejection * { vertical-align:top;
} } } }/* form.edit_candidate_control */





div.raf, form.raf {
	border: 2px solid black;
	border-top-width: 1px;
	h3 {
		background-color: gray;
		color:white;
		padding: 7px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		margin-top: 0;
	}
	.raf_section {
		clear:left;
		margin:5px;
	}
	#errorExplanation { margin:5px; }
	div.table > div { display:table-row; }
	div.table > div.tablerow > div {
		display:table-cell;
		vertical-align:top;
	}
	
	.names {
		input { width: 100px; }
		.tablerow {
			margin-left: 20px;
			> span {
				width: 120px;
				display:inline-block;
				text-align:center;
			}
			p.guardian {
				display:inline-block;
				margin-left: -20px;
				width: 390px;
			}
			/* needs to be wider to fit the subject relationship selector */
			span.big { width: 210px;
	}	}	}
	
	.organization_id p,
	.names p {
		margin-bottom: 0;
		width: auto;
	}
	
	/* Hide the study subject field on kickback when possible duplicates are found */
	div#possible_duplicates + div.study_subject_fields { display:none; }
	
	div.languages_label,
	div#languages,
	div.subject_language {
		vertical-align:top;
		display:inline-block;
	}
	
	p.subconsent { margin-left:50px; }
	
	span.refused_by { display:block; }
	
	.diagnosis,
	.phone_number,
	.phone_type,
	.line_1 { margin-right: 20px; }
	div.unit .label { width:auto; }
	input.zip_field   { width:100px; }
	.unit input { width:100px; }
	.is_primary, .state, .zip {
		span.label { width:auto; }
	}

	div.phone_type.field_wrapper .label { width: 50px; }
	
	div.csz * { vertical-align:middle; }
}/* div.raf, form.raf */

div.raf {
	.consented,
	.was_under_15_at_dx,
	.was_previously_treated,
	.was_ca_resident_at_diagnosis {
		span.label { 
			width:auto; 
			margin-right:20px;
		}
		span.value { font-weight:bold; }
	}
}/* div.raf */


form.raf {
	.field_wrapper .label { width: 160px; }
	.hospital_no, .admitting_oncologist {
		.label {
			display:block;
			width: 200px;
	}	}
	.raf_zip ,
	.diagnosis ,
	.admitting_oncologist ,
	.dob ,
	.hospital_no {
		margin-right:10px;
		float:right;
		clear:none;
	}
	.raf_county, .raf_zip {
		.label {
			width:auto;
			margin-right:10px;
	}	}
	
	#study_subject_patient_attributes_raf_zip,
	#study_subject_patient_attributes_raf_county { width: 170px; }
	
	div.other_diagnosis {
		float:right;
		margin-right:10px;
	}
	div.diagnosis, div.other_diagnosis {
		.label {
			padding-right: 10px;
			width:auto;
}	} }/* form.raf */


div#consent {
	div#eligibility_criteria {
		border: 1px solid black;
		background-color: #DDD;
		padding: 5px 20px;
		margin: 10px;
	
		/* http://css-radius.heroku.com */
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		.field_wrapper {
			> span, > * { display:inline; }
		}
		label {
			width: auto;
			padding-right:10px;
		}
	}
	
	/*
		*_id .label is show action
		* label is edit action





label has class label now too so can remove this comment and clean up this css




	*/
	.enrollment {
		.field_wrapper {
			.label { width:180px; }
			&.other_refusal_reason .label,
			&.refusal_reason_id label,
			&.refusal_reason .label,
			&.document_version_id label,
			&.document_version .label,
			&.consented_on .label,
			&.other_ineligible_reason .label,
			&.ineligible_reason_id label,
			&.ineligible_reason .label {
				text-indent:50px;
	} } }

	div#study_subject_languages > div,
	form.enrollment .is_eligible,
	form.enrollment .ineligible_reason_id,
	form.enrollment .consented_on,
	form.enrollment .document_version_id {
		display:inline-block;
		vertical-align:top;
	}
	form.enrollment {
		.other_ineligible_reason {
			label {
				width:auto;
				clear:left;
			}
			#enrollment_other_ineligible_reason { width:70%;
} } } } /* div#consent */


/* candidate_controls#index */
table#candidate_controls td.study_subject { white-space: nowrap; }


/*  find app/ -name \*erb -exec grep -H study_subject_search {} \;  */
