#current .addressings {
	border-bottom: 1px solid black;
}
.historic {
	background-color: #EEE;
}
.contact_wrapper {
	padding-bottom:10px;
	clear:left;	
	border-top: 1px dotted silver;
}
.contact_wrapper:nth-child(1) {
	border-top: 0;
}
/*
div.contact_valid > div,
div.is_verified > span,
div.is_valid > span,
*/
div.contact_wrapper > div {
	display:inline-block;
	vertical-align: top;
}
.when,
.phone_number,
.addressing {
	width: 200px;
}
.contact_meta {
	width: 120px;
}
/*
.contact_valid .brief {
	width: 100px;
}
.contact_valid span,
*/
.addressing .line_1,
.addressing .line_2,
.addressing .unit,
.addressing .county,
.addressing .csz {
	display:block;
}
.edit {
	float:right;
	text-align: right;
}
.new {
	clear:both;
	margin-top:0;
}
/*
.contact_valid .brief .field_wrapper .label {
	width:auto;
	margin-right: 10px;
}
.contact_valid .brief .field_wrapper {
	margin-bottom:0;
}
*/
