.field_wrapper {
	padding-left: 5px;
	clear:none;
	&.terminated_reason label,
	&.refusal_reason_id label,
	&.ineligible_reason_id label {
		text-indent:50px;
	}
	&.consented_on label,
	&.is_candidate label,
	&.tracing_status label,
	&.is_eligible label,
	&.consented label,
	&.completed_on label {
		width: 100px;
	}
	&.is_complete label {
		width: 250px;
	}
	&.consented_on label ,
	&.completed_on label ,
	&.document_version_id ,
	&.other_ineligible_reason ,
	&.reason_not_chosen ,
	&.other_refusal_reason {
		text-align:right;
	}
}
