.edit_interview .field_wrapper {
	min-width: 350px;
}
.edit_interview .field_wrapper label,
.interview .field_wrapper .label {
	width: 160px;
}
.interview .other_subject_relationship .label,
.edit_interview .other_subject_relationship label {
	text-align:center;
}

.edit_interview .field_wrapper.ended_on label,
.edit_interview .field_wrapper.interview_outcome_on label {
	width: 50px;
}

.edit_interview .field_wrapper.interview_outcome_id,
.edit_interview .field_wrapper.interview_outcome_on label,
.edit_interview .field_wrapper.began_on,
.edit_interview .field_wrapper.ended_on label,
.interview .field_wrapper.interview_outcome,
.interview .field_wrapper.began_on {
	float:left;
	padding-right: 30px;
}
.edit_interview .field_wrapper.interview_outcome_on,
.edit_interview .field_wrapper.ended_on,
.interview .field_wrapper.interview_outcome_on,
.interview .field_wrapper.ended_on {
	clear:none;
}
.interview .field_wrapper.interview_outcome_on .label,
.interview .field_wrapper.ended_on .label {
	padding-right: 30px;
	width:auto;
}
