/*

	#minimenu - the top-right pages menu

	#mainmenu - the menu in the lower-left of the header containing ...
		.menu_item - link or hover-triggered menu containing ...
			.sub_menu - 

	#sidemenu - the left menu to the side of the content

*/

/*
	Top Right Menu (Home|Reports|FAQs[|Logout])
*/
div#minimenu {
	float:right;
	padding: 5px 10px;
	color: white;
}
div#minimenu a {
	color: white;
	text-decoration:none;
}

/*

	FYI:  submenu will be very different than the homex submenu

	For clarity, I will be renaming the #submenu to #sidemenu
		which is a much more appropriate name given its position.

*/

#mainmenu .menu_item,
#mainmenu .menu_item a,
#sidemenu a {
	text-decoration: none;
	color:black;
}
#mainmenu .menu_item a {
	width: 100%;
	height:100%;
}
div#mainmenu { 
	position:relative;	/* don't know if this is needed */
	height: 32px;
}
div#mainmenu .menu_item {
	position:relative;
	padding:0;
	margin:0;
	float:left;
	font-size: 12pt;
	font-weight: bold;
	border: 2px solid black;
	border-bottom: 1px solid black;
	border-left: 0;
	background-color: #A9BECC;
/* If I hard set the size of the menu item here and the 
	top of the sub_menu below rather than let the browser
	guess, things may line up better and more consistently 
	4x2 + 20 would make the sub_menu top 28 
	I wish I could figure this out in a simpler fashion so
	that the submenu just stuck to the bottom of the menu item.
	height: 20px;
*/
/* 
	height should be the same as mainmenu MINUS any vertical borders and padding 
	32px - 2px - 1px - 0px - 0px = 29px
*/
	height: 29px;	
}
div#mainmenu .menu_item:nth-child(1) {
	border-left: 2px solid black;
}
div#mainmenu > .current {
	background-color: #CCC3A9;
}
div#mainmenu .menu_item > a {
	padding: 4px 24px;
	line-height: 28px;	
}

div#mainmenu .menu_item .sub_menu {
/*
	As a hover menu, this is absolute and a bit tricky to
		keep lined up in both Firefox and IE.
	I think that it is caused by differing font sizes.
	This seems to work, but isn't perfect.
	top: 28px;
*/
	position:absolute;
	margin:0;
	padding:0;
	top: 29px;	/* same as #mainmenu height MINUS .menu_item vertical borders */
	left:0px;
	clear:left;
	z-index: 100;	/* needed to keep it above other stuff */
	background-color: white;
	border: 1px solid gray;
	border-top: 0;
	display:none;
	
/*
		Using display or visibility doesn't seem to make any difference.
	display:none;
	visibility:hidden;
*/

	/* box-shadow: <horizontal> <vertical> <blur> <color> */
	/* 2px makes it a little to the right and 5px makes it mostly down */
	box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}
div#mainmenu .menu_item .sub_menu > * {
	font-weight: normal;
	padding: 5px;
	display:block;
	white-space:pre;
}
div#mainmenu .menu_item:hover > .sub_menu { 
/*
		Using display or visibility doesn't seem to make any difference.
	display:block; 
	visibility:visible;
*/
	display:block; 
}

div#left_side_menu {
	width: 160px;
}
div#sidemenu {
	font-size: 12px;
	padding-top: 5px;
	margin: 0;
	background-color: #CCC3A9;
	border: 1px solid black;
	border-top: none;
}
div#sidemenu > * {
	padding: 5px 10px;
	display:block;
}
div#sidemenu > .current {
	font-weight:bold;
}
div#sidemenu > div > span.prev {
	text-align:right;
}
