/*

	#minimenu - the top-right pages menu

	#mainmenu - the menu in the lower-left of the header containing ...
		.menu_item - link or hover-triggered menu containing ...
			.sub_menu - 

	#sidemenu - the left menu to the side of the content

*/

/*
	Top Right Menu (Home|Reports|FAQs[|Logout])
*/
div#minimenu {
	float:right;
	padding: 5px 10px;
	color: white;
	a {
		color: white;
		text-decoration:none;
	}
}

form#by_id_form {
	height: 32px;
	float:right;
	display:inline-block;
	vertical-align:middle;
	* {
		display:inline-block;
		vertical-align:middle;
	}
	label {
		color:white;
	}
}

/*

	FYI:  submenu will be very different than the homex submenu

	For clarity, I will be renaming the #submenu to #sidemenu
		which is a much more appropriate name given its position.

*/

div#mainmenu { 
	position:relative;	/* don't know if this is needed */
	height: 32px;
	display:inline-block;
	vertical-align:middle;
	.menu_item,
	.menu_item a {
		text-decoration: none;
		color:black;
	}
	.menu_item a {
		width: 100%;
		height:100%;
	}
	.menu_item {
		position:relative;
		padding:0;
		margin:0;
		float:left;
		font-size: 12pt;
		font-weight: bold;
		border: 2px solid black;
		border-bottom: 1px solid black;
		border-left: 0;
		background-color: #A9BECC;
/* If I hard set the size of the menu item here and the 
		top of the sub_menu below rather than let the browser
		guess, things may line up better and more consistently 
		4x2 + 20 would make the sub_menu top 28 
		I wish I could figure this out in a simpler fashion so
		that the submenu just stuck to the bottom of the menu item.
		height: 20px;
*/
/* 
		height should be the same as mainmenu MINUS any vertical borders and padding 
		32px - 2px - 1px - 0px - 0px = 29px
*/
		height: 29px;	
		> a {
			padding: 4px 14px;
			line-height: 28px;	
		}
		.sub_menu {
			position:absolute;
			margin:0;
			padding:0;
			top: 29px;	/* same as #mainmenu height MINUS .menu_item vertical borders */
			left:0px;
			clear:left;
			z-index: 100;	/* needed to keep it above other stuff */
			background-color: white;
			border: 1px solid gray;
			border-top: 0;
			display:none;
		
			/* box-shadow: <horizontal> <vertical> <blur> <color> */
			/* 2px makes it a little to the right and 5px makes it mostly down */
			box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
			> * {
				font-weight: normal;
				padding: 5px;
				display:block;
				white-space:pre;
			}
		}
		&:nth-child(1) {
			border-left: 2px solid black;
		}
		&:hover > .sub_menu { 
			display:block; 
		}
	}
	> .current {
		background-color: #CCC3A9;
	}
}	/*	div#mainmenu {  */

div#left_side_menu {
	width: 180px;
}
#sidemenu {
	font-size: 12px;
	padding-top: 5px;
	margin: 0;
	background-color: #CCC3A9;
	border: 1px solid black;
	border-top: none;

	/* for ul/li version */
	width: 180px;	
	padding-left: 0;

	a {
		text-decoration: none;
		color:black;
	}
	> * {
		padding: 5px 10px;
		display:block;
	}
	> li > .current {
		font-weight:bold;
	}
	> li > span.count {
		float:right;
	}
}
