.page {
	.position {
		font-weight:bold;
		text-align:center;
	}
	.path,
	.menu,
	.title {
		width: 140px;
	}
	.manage {
		text-align:right;
	}
	&.row.ui-sortable-helper {
		border: 1px dashed #E7C254;
	}
}
