.field_wrapper label {
	width: 170px;
}
.admit_date_wrapper {
	.warning {
		display:none;
		width:250px;
		float:right;
		padding: 5px;
		padding-right:0;
	}
	&.changed .admit_date {
		display:inline;
	}
	&.changed .warning {
		display:inline;
		background-color: #FDD;
		border: 1px solid #F88;
	}
}
.diagnosis,
.other_diagnosis {
	display:inline-block;
	vertical-align:top;
}
.diagnosis {
	margin-right: 10px;
}
.other_diagnosis label {
	width:auto;
}
