form.raf {
	border: 2px solid black;
	border-top-width: 1px;
}
form.raf h3 {
	background-color: gray;
	color:white;
	padding: 7px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 0;
}
form.raf h3 > span {
	float:right;
	font-size:10pt;
	font-weight:normal;
}
.raf_section {
	clear:left;
	margin:5px;
}
#errorExplanation {
	margin:5px;
}
div.table > div {
	display:table-row;
}
div.table > div.tablerow > div {
	display:table-cell;
	vertical-align:top;
}
.field_wrapper span.label,
.field_wrapper label {
	width: 160px;
}


.names input {
	width: 100px;
}
.names .tablerow {
	margin-left: 20px;
}
.names .tablerow > span {
	width: 120px;
	display:inline-block;
	text-align:center;
}
.names .tablerow p.guardian {
	display:inline-block;
	margin-left: -20px;
	width: 390px;
}
/* needs to be wider to fit the subject relationship selector */
.names .tablerow span.big {
	width: 210px;
}
/*
div.table > div.tablerow > div:nth-child(1) {
	width:470px;
}
*/
.organization_id p,
.admitting_oncologist p,
.hospital_no p,
.names p {
	margin-bottom: 0;
}

.raf_zip ,
.diagnosis_id ,
.admitting_oncologist ,
.dob ,
.hospital_no {
	margin-right:10px;
	float:right;
	clear:none;
}
/*
div.diagnosis_id label,
	padding-right: 10px;
	width:auto;
}
*/


#study_subject_patient_attributes_raf_zip,
#study_subject_patient_attributes_raf_county {
	width: 170px;
}

div.other_diagnosis {
	float:right;
	margin-right:10px;
}
div.diagnosis_id label,
div.other_diagnosis label {
	padding-right: 10px;
	width:auto;
}

/*
	Hide the study subject field on kickback when possible duplicates are found
*/
div#possible_duplicates + div.study_subject_fields {
	display:none;
}

div.languages_label,
div#languages,
div.subject_language {
	vertical-align:top;
	display:inline-block;
}

p.subconsent {
	margin-left:50px;
}

span.refused_by { display:block; }


.line_1 {
	margin-right: 20px;
	vertical-align:top;
	display:inline-block;
}
.unit label { width:auto; }
input.zip   { width:100px; }
.unit input { width:100px; }
.unit {
	clear:none;
	vertical-align:top;
	display:inline-block;
}

div.csz * {
	vertical-align:middle;
}
