div.raf,
form.raf {
	border: 2px solid black;
	border-top-width: 1px;
	h3 {
		background-color: gray;
		color:white;
		padding: 7px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		margin-top: 0;
	}
/*	in application.css
	h3 > span {
		float:right;
		font-size:10pt;
		font-weight:normal;
	}
*/

	.raf_section {
		clear:left;
		margin:5px;
	}
	#errorExplanation {
		margin:5px;
	}
	div.table > div {
		display:table-row;
	}
	div.table > div.tablerow > div {
		display:table-cell;
		vertical-align:top;
	}
	
	.names {
		input {
			width: 100px;
		}
		.tablerow {
			margin-left: 20px;
			> span {
				width: 120px;
				display:inline-block;
				text-align:center;
			}
			p.guardian {
				display:inline-block;
				margin-left: -20px;
				width: 390px;
			}
			/* needs to be wider to fit the subject relationship selector */
			span.big {
				width: 210px;
	}	}	}
	
	.organization_id p,
	.names p {
		margin-bottom: 0;
		width: auto;
	}
	
	/* Hide the study subject field on kickback when possible duplicates are found */
	div#possible_duplicates + div.study_subject_fields {
		display:none;
	}
	
	div.languages_label,
	div#languages,
	div.subject_language {
		vertical-align:top;
		display:inline-block;
	}
	
	p.subconsent { margin-left:50px; }
	
	span.refused_by { display:block; }
	
	.diagnosis,
	.phone_number,
	.line_1 {
		margin-right: 20px;
	}
	div.unit label { width:auto; }
	input.zip_field   { width:100px; }
	.unit input { width:100px; }
	.is_primary, .state, .zip {
		span.label { width:auto; }
	}
	
	div.csz * {
		vertical-align:middle;
	}

}

div.raf {
	.consented,
	.was_under_15_at_dx,
	.was_previously_treated,
	.was_ca_resident_at_diagnosis {
		span.label { 
			width:auto; 
			margin-right:20px;
		}
		span.value { font-weight:bold; }
	}
}


form.raf {
	.field_wrapper {
		span.label, label {
			width: 160px;
		}
	}
	.hospital_no, .admitting_oncologist {
		span.label, label {
			display:block;
			width: 200px;
	}	}
	.raf_zip ,
	.diagnosis ,
	.admitting_oncologist ,
	.dob ,
	.hospital_no {
		margin-right:10px;
		float:right;
		clear:none;
	}
	.raf_county, .raf_zip {
		label {
			width:auto;
			margin-right:10px;
	}	}
	
	#study_subject_patient_attributes_raf_zip,
	#study_subject_patient_attributes_raf_county {
		width: 170px;
	}
	
	div.other_diagnosis {
		float:right;
		margin-right:10px;
	}
	div.diagnosis, div.other_diagnosis {
		label {
			padding-right: 10px;
			width:auto;
	}	}
}
