.names {
	input {
		width: 100px;
	}
	.tablerow {
		margin-left: 20px;
		> span {
			width: 120px;
			display:inline-block;
			text-align:center;
		}
		p.guardian {
			display:inline-block;
			margin-left: -20px;
			width: 390px;
		}
		/* needs to be wider to fit the subject relationship selector */
		span.big {
			width: 210px;
		}
	}
	p {
		margin-bottom: 0;
	}
}
