div.person {
	float:left;
	width: 60%;
}
div#roles {
	margin-left: 60%;
	a img {
		margin-left: 50px;
	}
	ul {
		list-style-position: outside;
		list-style-type: none;
		padding: 0;
	}
}

form.edit_user {
	width: 490px;
	margin: 50px auto;
	label {
		float: left;
		width: 100px;
	}
	input,
	label,
	div,
	p {
		text-align: center;
		margin: 5px;
		font-size: 12pt;
	}
	p {
		clear:left;	/* JUST p tag */
	}
}
