<h4>Screening Data</h4>

<% unless @screening_data.empty? %>
<p>This is all a bit much. Perhaps just some key info, link to case and subject, link to complete screening datum all in a nice clean table.</p>

<table id='screening_data'><thead>
<tr>
<th></th>
<th>icf master_id</th>
<th>study subject</th>
<th></th>
</tr>
</thead>
<tbody>
<% @screening_data.each do |screening_datum| %>
<tr class='row'>
<td><%= link_to 'SDU', screening_datum.screening_datum_update %></td>
<td><%= screening_datum.icf_master_id %></td>
<td><% if screening_datum.study_subject %>
<%= link_to screening_datum.study_subject, screening_datum.study_subject %>
<% else %>
No Study Subject Set
<% end %></td>
<td class='manage'><%= link_to 'View', screening_datum, :class => :button %></td>
</tr>
<% end %>
</tbody>
</table><!-- id='screening_data' --> 
<% else %>
<p>Sorry, but no screening data exist.</p>
<% end %>
