<tr>
<td><%= index %></td>
<td><%= icf_master_tracker.Masterid %></td>
<td>
<%= link_to(icf_master_tracker.Masterid, study_subject_path(icf_master_tracker.study_subject_id) ) if icf_master_tracker.study_subject_id %>
</td>
</tr>
