<% stylesheets(:icf_master_tracker_update) %>
<h4>Parsing icf_master_tracker_update</h4>

<% if @results.length > 0 %>
<table><tbody>
<%= render :partial => 'result', :collection => @results %>
</tbody></table>
<% end %>
