<h4>SubjectRelationships:</h4>
<% unless @subject_relationships.to_a.empty? %>
 <table id='subject_relationships'><thead><tr>
  <th>Key</th>
  <th>Description</th>
  <th>&nbsp;</th>
 </tr></thead><tbody>
  <%= render :partial => 'subject_relationship', :collection => @subject_relationships %>
 </tbody></table><!-- id='subject_relationships' -->
<% else %>
 <p>Sorry, no subject_relationships yet.</p>
<% end %>
<p><%= link_to( "Create new subject_relationship", new_subject_relationship_path,
	:class => 'button' ) %></p>
