<div class='parent'>
<h3>Parent Info:</h3>
<%= wrapped_spans :study_subject, :mothers_name,
	:label_text => 'Mother:' %>
<%= wrapped_spans :study_subject, :mother_maiden_name,
	:label_text => 'Maiden Name:' %>
<%= wrapped_spans :study_subject, :fathers_name,
	:label_text => 'Father:' %>


<%#

If case, add link to mother subject?  father?  controls?


Why show parent info if is a parent?


If parent, add link to child?


%>
</div><!-- class='parent' -->
