<%#


	NOTE I do not believe that this view or partial view is used.



%>
<div class='matching'>
<h3>Matching Subjects:</h3>
<% if @study_subject %>
<% StudySubject.find(:all,
			:conditions => { 
				'matchingid' => @study_subject.matchingid
			}
		).each do |subject| %>

<p><%= link_to subject, subject %></p>

<% end %>
<% end %>
</div><!-- class='matching' -->
