<div class='family'>
<h3>Family Subjects:</h3>
<% if @study_subject and @study_subject.identifier %>
<% StudySubject.find(:all,
			:joins => :identifier,
			:conditions => { 
				'identifiers.familyid' => @study_subject.identifier.familyid
			}
		).each do |subject| %>

<p><%= link_to subject, subject %></p>

<% end %>
<% end %>
</div><!-- class='family' -->
