<div class='family'>
<h3>Family Subjects:</h3>
<% if @study_subject %>
<% StudySubject.find(:all,
			:conditions => { 
				'familyid' => @study_subject.familyid
			}
		).each do |subject| %>

<p><%= link_to subject, subject %></p>

<% end %>
<% end %>
</div><!-- class='family' -->
