<%= control_bar() %>

Subject find form

<p>Results must match [select(any,all)] of the following: [find]</p>

<p>first name: [ ]</p>
<p>last name: [ ]</p>
<p>dob: [ ]</p>
<p>childid: [ ]</p>
<p>icf master_id : [ ]</p>
<p>patid: [ ]</p>
<p>hospital no: [ ]</p>
<p>state/local registrar no: [ ]</p>
