<%= control_bar() %>

Subject followups


<p>Cases ready for Control assignment: </p>

<p>table(icf_master_id, study_id, name, complete)</p>

<p>icf failed to recruit a control - needs more controls for these cases: </p>

<p>table(icf_master_id, study_id, name, complete)</p>

<p>There are n cases ready to be sent to USC for birth certificates [go]</p>

<p>There are n cases on the Birth Certificate waiting list.  The include.... [go]</p>

<p>... cases with no more candidate controls</p>

<p>table(icf-master_id, study_id, name)</p>

<p>... new case subjects</p>

<p>table(icf_master_id, study_id, name)</p>
