<%= dashboard_control_bar() %>

Subject report links

<p><%= link_to 'Control Assignment Report', controls_path %></p>

<p><%= link_to 'Case Assignment Report', cases_path %></p>

<p><%= link_to 'Abstracts', abstracts_path %></p>
