<%= control_bar() %>

Subject report links

<p><%= link_to 'Control Assignment Report', url_for(:controller => 'study_subject_reports', :action => 'control_assignment',:format => :csv) %></p>

<p><%= link_to 'Case Assignment Report', url_for(:controller => 'study_subject_reports', :action => 'case_assignment',:format => :csv) %></p>

<p>subjects not sent to icf (30+ days following consent)</p>

<p>subjects ascertained with no consent (14+ days following consent)</p>

<p>subjects ready for intro letter</p>

<p>aging report - cases waiting for BC Requests</p>

<p>aging report - BC Requests sent, not returned</p>


<p>example search results:</p>
<p>search results:</p>
<p>table(icf_master_id,study_id,subject_name,reference_date)</p>
