<%# stylesheets('study_subject','contacts') %>
<%# stylesheets('study_subject') %>
<% sub_menu_for(@study_subject) %>

<% content_for :id_bar do %>
<%= link_to "edit", edit_study_subject_path(@study_subject) %>
<% end if current_user.may_edit_study_subjects? %>

<% id_bar_for(@study_subject) %>

<% content_tag_for( :div, @study_subject ) do %>
<%= render 'study_subject_personal' %>
<%= render 'study_subject_parent' %>
<%#= render 'study_subject_consent' %>
<%#= render 'study_subject_homex_outcomes' %>
<%#= render 'study_subject_family' %>
<%#= render 'study_subject_matching' %>

<% if @study_subject and @study_subject.patient and 
	@study_subject.created_at and @study_subject.is_case? and 
	@study_subject.patient.admit_date and
	(( @study_subject.created_at.to_date - @study_subject.patient.admit_date ).to_i > 7 ) %>
<p>Retrospective Case (Case was entered more than 7 days after subject admit date.)</p>
<% end %>

<% end %><%# content_tag_for %>
