<h4>Instruments:</h4>
<% unless @instruments.to_a.empty? %>
 <table id='instruments'><thead><tr>
  <th>Key</th>
  <th>Name</th>
  <th>Description</th>
  <th>Project</th>
  <th>&nbsp;</th>
 </tr></thead><tbody>
  <%= render :partial => 'instrument', :collection => @instruments %>
 </tbody></table><!-- id='instruments' -->
<% else %>
 <p>Sorry, no instruments yet.</p>
<% end %>
<p><%= link_to( "Create new instrument", new_instrument_path,
	:class => 'button' ) %></p>
