<h4>InterviewOutcomes:</h4>
<% unless @interview_outcomes.to_a.empty? %>
 <table id='interview_outcomes'><thead><tr>
  <th>Key</th>
  <th>Description</th>
 </tr></thead><tbody>
  <%= render :partial => 'interview_outcome', :collection => @interview_outcomes %>
 </tbody></table><!-- id='interview_outcomes' -->
<% else %>
 <p>Sorry, no interview_outcomes yet.</p>
<% end %>
<p><%= link_to( "Create new interview_outcome", new_interview_outcome_path,
	:class => 'button' ) %></p>
