<%= edit_link() %>

<%= wrapped_yndk_spans(:abstract,:chemo_protocol_report_found,
	:label_text => "Found?" ) %>
<%= wrapped_yndk_spans(:abstract,:patient_on_chemo_protocol,
	:label_text => "Was patient put on a COG/POG/CCG Protocol?" ) %>

<% wrapped_spans(:abstract,:chemo_protocol_name,
	:label_text => "If yes, indicate protocol used:" ) do %>
<span>(e.g. COG XXXX, POG XXXX, CCG XXXX)</span>
<% end %>
<!--
<p>If no, specify any therapeutic agents (expecially the first 3-4 induction agents) and if the patients was 'treated per _______'</p>
<%#= wrapped_spans(:abstract,:chemo_protocol_agent_description,
	:label_text => "&nbsp;" ) %>
-->

<%= abstract_pages(@abstract) %>
